In [2]:
string1 = "I quit smoking"
string2 = string1
newlist1 = list(string1)
newlist2 = [string1]
print(newlist1)
print (newlist2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [3]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [10]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [12]:
empty_list = []
empty_list.append('114')
empty_list.append('plastic free sea') #listenin sonuna ekler append
print(empty_list)
empty_list.append('258')
print(empty_list)

['114', 'plastic free sea']
['114', 'plastic free sea', '258']

In [13]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa') #Diagram of '.append( )' Method sonuna ekler
print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [14]:
#insert() : Add a new object to list at a speciﬁc index. 
#The syntax looks like list.insert(index, object). See the example

In [17]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa') #Diagram of '.append( )' Method sonuna ekler
print(city)
city.insert(2,"stockholm") # 2. indis olarak ekler
print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [22]:
text = "Merhaba Clarusway"
list1 = list(text.split(" "))
print(list1)
list1.append("MY")
list1.insert(1, "nice")
print(list1)

['Merhaba', 'Clarusway']
['Merhaba', 'nice', 'Clarusway', 'MY']

In [23]:
#We can remove the elements in lists using list.remove() method or 
#sort the elements using list.sort() method. Examine the example

In [26]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.remove("London") #remove the item
print(city)
city.insert(4,"Konya")
print(city)

['New York', 'Istanbul', 'Seoul', 'Sydney']
['New York', 'Istanbul', 'Seoul', 'Sydney', 'Konya']

In [31]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort() # lists the items in alphabetical order
print(city)
city.reverse() #tersden sıralar
print(city)
print(city*3)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
['Sydney', 'Stockholm', 'Seoul', 'New York', 'Istanbul', 'Addis Ababa']
['Sydney', 'Stockholm', 'Seoul', 'New York', 'Istanbul', 'Addis Ababa', 'Sydney', 'Stockholm', 'Seoul', 'New York', 'Istanbul', 'Addis Ababa', 'Sydney', 'Stockholm', 'Seoul', 'New York', 'Istanbul', 'Addis Ababa']

In [39]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[0] = 'ADANA' # we assign 'ADANA' to index 0
print(city)
print(len(city))
a = city.index("Istanbul") #istanbulun index nosunu verir
print(a)

['ADANA', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
6
2

In [40]:
#Examine the use of index(), del() and pop() functions.

In [48]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
del city[0] #newyorku siler
print(city)

['Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [50]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.pop(5) #5.ci indexi siler
print(city)

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney']

In [52]:

print(not 0 and "Write me")

Write me

In [62]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])
print(colors[2][3])

blue
e

In [54]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list =[]
city_list.append(city)  # we have created a nested list
print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [60]:
print(city_list[0])
print(city_list[0][2])
print(city_list[0][2][3])

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
Istanbul
a

In [63]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)

[5, 7, 9]

In [4]:
counter = list(range(11))
print(counter)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [2]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [1]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [5]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [6]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [7]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [8]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']