In [ ]:
# print fonsiyon demek.
# type string = str =  # any textual characters
# type Integers = int =  # type is called int, they are whole numbers (positive, negative or zero), including no decimal point. For example: 71, -122, 0
# floats =  # type is called float and they stand for real numbers with a decimal point. For example: 71.0, -33.03
# complex =  # they are written in the form, x + yj , where x is the real part and y is the imaginary part.
# boolean = bool =  # False and True. 
# int() ‚Äì converts some data types into integer type.
# float() ‚Äì converts some data types into float type.
# str() ‚Äì converts any data type into string type.
# -= decrements the variable in place,s
# += increment the variable in place,
# *= multiply the variable in place,
# /= divide the variable in place,
# //= Ô¨Çoor divide the variable in place,
# %= returns the modulus of the variable in place,
# **= raise to power in place.
# \n : means new line,
# \t : means tab mark,
# \b : means backspace. It moves the cursor one character to the left
# \ kendinden sonraki i≈üelmi iptal ediyor. print('we', '\bare', '\bunited', sep= '  ') we are united. 
# their priorities:not, and, or : None.Zero of any numeric type: 0, 0.0, 0j
# Empty sequences and collections: '', [], {}
# Other than above values, any remaining value is evaluated as True.
# str.swapcase() converts upper case to lower case and vice versa.
# str.capitalize() changes the first character of the string to the upper case and the rest to the lower case.
# str.upper() converts all characters of the string to the upper case.
# str.lower() converts all characters of the string to the lower case.
# str.title() converts the first character of each word to upper case.
# str.split() converts all characters of the string to seperate character
# The formula syntax is : string.method()#str.strip() : removes all spaces (or specified characters) from both sides.
# str.rstrip() : removes spaces (or specified characters) from the right side.
# str.lstrip() : removes spaces (or specified characters) from the left side.
"""None.
	Zero of any numeric type: 0, 0.0, 0j
	Empty sequences and collections: '', [], {}.
	- Other than above values, any remaining value is evaluated as True.
	- print(*yazi) output y a z i ≈üeklinde birer bo≈üluk bƒ±rakƒ±r. """
# my_list.append('adil')  # listeye yeni bir eleman ekler.
# print(my_list.pop())  # listeye yeni eklenen elemanƒ± siler.
# city.remove('London') listeden eleman siler.
# city.sort()  # lists the items in alphabetical order
# Lists: Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!
# Tuples: In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.
""" ! Do not mix two quotes style in one string."""
# This is a single line comment
# print('the cosmos has no superiority to chaos')  # This is an inline comment

In [ ]:
"""  ‚ö†Ô∏èAvoid ! :

    More comments don't necessarily need to be better. If code is self-explanatory, comments are unnecessary.
    Do not make unnecessary comments. Usually, comments should answer the question why as opposed to what.
    When necessary, update your comment. Be sure that your comments will not be in contradiction to the code.

 """

In [1]:
print('being a good person')

being a good person

In [2]:
print('clarusway will change my life')

clarusway will change my life

In [3]:
print("Hello World!")

Hello World!

In [4]:
print("it's not a problem")

it's not a problem

In [5]:
print('We should have enough time for our family") # ! Do not mix two quotes style in one string.

SyntaxError: EOL while scanning string literal (<ipython-input-5-67ff08d8253d>, line 1)

In [6]:
print(572)
print(3.14)
print('3.14')
""" If you have noticed we used üëâüèª. not üëâüèª, for the decimal number: 3.14.
    Surrounding the expression with quotes makes it in string type. We will see immutable types (int, string, tuple, etc.) in the next lessons. """

572

In [7]:
print('no pain')
print('no gain')
print(3.14)

no pain
no gain
3.14

In [8]:
print('first line')
print()  # second line is empty
print('third line')

first line

third line

In [9]:
print ("It's my pleasure")

It's my pleasure

In [ ]:
""" Always surround these binary operators with a single space on either side: assignment (=), augmented assignment (+=, -=, etc.), comparisons (==, <, >, !=, <>, <=, >=, in, not in, is, is not), Booleans (and, or, not). """

In [10]:
list.append('utf8')  # adds a new element into a list

TypeError: descriptor 'append' requires a 'list' object but received a 'str'

In [11]:
def function(): # Don't be confused, we use 'def()' to create a function. 
                # You will see it in the next lessons.
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [12]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
""" ‚ö†Ô∏èAvoid ! :

    Do not use specific Python keywords (name of a function or phrase) as a name, like sum, max, min, in, or, for, etc.
"""

In [13]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

I have learned strings

In [14]:
e_mail = 'joseph@clarusway.com' # surrounded with single quotes
print(e_mail)

joseph@clarusway.com

In [15]:
print('632') # this is also a string type

632

In [ ]:
""" Signed Integer type is called int, they are whole numbers (positive, negative or zero), including no decimal point. For example: 71, -122, 0

Floating point type is called float and they stand for real numbers with a decimal point. For example: 71.0, -33.03

Complex type is called complex and they are written in the form, x + yj , where x is the real part and y is the imaginary part. For example: 3.14j. """

In [ ]:
# üí°Tips:

#   71 and 71.0 have the same numerical value. But they differ in terms of numeric type. The types of these numbers are int and float respectively.

In [18]:
tv_open = True  # it seems TV is on now
print(tv_open)
is_rainy = False  # I love sunny weather
print(tv_open)

True
True

In [ ]:
*** Type Conversion
    str() converts to string type
    int() converts to signed integer type
    float() converts to floating point type
***

In [20]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [21]:
example2 = '71'
print(type(example2))

<class 'str'>

In [22]:
example3 = 71
print(type(example3))

<class 'int'>

In [13]:
x = 5
print ('value of x       : ', x)

x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z       : ', z)

z *= 2
print ("2 times z        : ", z, "\n")

value of x       :  5
2 more of x      :  7

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

In [ ]:
# üí°Tips:
#   Variable math operator = number gives the same result as Variable = Variable math operator number.
#   Variable += number gives the same result as Variable = Variable + number. *///

In [ ]:
"""
    -= decrements the variable in place,
    += increment the variable in place,
    *= multiply the variable in place,
    /= divide the variable in place,
    //= Ô¨Çoor divide the variable in place,
    %= returns the modulus of the variable in place,
    **= raise to power in place.
"""

In [ ]:
 """üí°Tips:

    Remember. There is no difference between üëâüèª' ', üëâüèª" " or üëâüèª""" """.
"""

In [ ]:
""" Escape Sequences

Actually, the examples in the previous lesson show us how backslash üëâüèª\ works. üëâüèª\ is a special sign used in expressions called escape sequences, which behaves according to the character immediately after üëâüèª\. Here are basic escape sequences in Python:

    \n : means new line,

    \t : means tab mark,

    \b : means backspace. It moves the cursor one character to the left.
"""

In [14]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [15]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [16]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

weareunited

In [17]:
print('it\'s funny to learn Python')

it's funny to learn Python

In [ ]:
""" Booleans 
Operator	Description	Example
==	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.
!=	If values of two operands are not equal, then condition becomes true.	(a != b) is true.
>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.
<	If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.
>=	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.
<=	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true. """

In [1]:
def function(): # Don't be confused, we use 'def()' to create a function. 
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [ ]:
""" üí°Tips:

    Note that we write the first letter of True in uppercase. This is the rule of Python that we must write like this : True, False. """

In [2]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [ ]:
""" Boolean Logic Expressions

Python has three built-in boolean operators: and, or and not. Except not, all are binary operators, which means two arguments are required.

    And operator : The and operator evaluates all expressions and returns the last expression if all expressions are evaluated True. Otherwise, it returns the Ô¨Årst value that evaluated False.

d

    Or operator : The or operator evaluates the expressions left to right and returns the Ô¨Årst value that evaluated True or the last value (if none is True)."""

In [ ]:
"""Order of Priority

It is important to remember that, logical operators have a different priority and it has an effect on the order of evaluation. Here are the operators in order of their priorities:

    not
    and
    or
"""

In [ ]:
""" üí°Tips:

    Note that and and or return one of its operands, not necessarily a bool type. But not always returns bool type.

"""

In [ ]:
The following values are considered False, in that they evaluate to False when applied to a boolean operator:

    None.
    Zero of any numeric type: 0, 0.0, 0j
    Empty sequences and collections: '', [], {}.
    Other than above values, any remaining value is evaluated as True.

In [19]:
print(2 and 3)

3

In [ ]:
print(1 and 0)

In [20]:
print(1 and "I am doing good!")

I am doing good!

In [21]:
print([] and "Hello World!")

[]

In [18]:
logic = True and False or not False or False
print(logic)

True

In [22]:
print(2 or 3)

2

In [23]:
print(None or 1)

1

In [24]:
print(0 or {})

{}

In [25]:
print([] or "Hello World!")

Hello World!

In [ ]:
f = 3.14  # the type is float
print(type(f))

In [23]:
f = 3.14  # the type is float

s = str(f)  # converting float to string
print(type(s))

<class 'str'>

In [10]:
f = 3.14 # the type is float
s = str(f) # converting float to string
print(s, '\n') # '\n' paragraf atlatƒ±yor.
print(type(s))

3.14

<class 'str'>

In [1]:
f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded
print(i, '\n')
print(type(i))

3

<class 'int'>

In [2]:
i = 3

f = float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [3]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [14]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"
print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [15]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'
print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [4]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [5]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [16]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [ ]:
print(4 + 11) # sum of integers gives integer

print(39 + 1.0) # sum of an integer and float gives float

In [ ]:
"""  üí°Tips:

    We can assign a value to multiple variables. Consider this: variable1 = variable2 = 'clarusway opens your path'.
    We can also assign multiple values to multiple variables in sequence using commas as in example above.
"""

In [ ]:
no1 = 46
print(no1/23)  # division gives float

In [17]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [6]:
print(4 + 11) # sum of integers gives integer
print(39 + 1.0) # sum of an integer and float gives float
no1, no2 = 46, 52
no3 = no1 - no2
print(no3)

15
40.0
-6

In [ ]:
print((3 * 4)/2)  # parentheses are used as in normal mathematics operations

In [7]:
internet

NameError: name 'internet' is not defined

In [19]:
no1 = 46
print(no1/23)  # division gives float

2.0

In [20]:
print((3 * 4)/2)  # parentheses are used as in normal mathematics operations

6.0

In [21]:
print(7 // 2)  # it gives integer part of division
# b√∂lme i≈üleminde saƒü tarafta kalan sonucu verir.

3

In [22]:
print(9 % 2)  # remainder of this division is 1
# it means 9 is an odd number.a
# b√∂lme i≈üleminde kalan sayƒ±yƒ± ifade eder.

1

In [23]:
print(3**2)
# 3 √ºzeri 2 demek o da 9 yapar.

9

In [24]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [30]:
print("yesterday I ate",2,"apples")

yesterday I ate 2 apples

In [ ]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

In [42]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [34]:
 print(type('hello'), type(3.14), type(74), sep='\n')

<class 'str'>
<class 'float'>
<class 'int'>

In [36]:
print('C:\\november\number_expenditure.txt')

C:\november\number_expenditure.txt

In [39]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [40]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

weareunited

In [44]:
print('we', '\bare', '\bunited', sep= '  ') # remember, normally print() function
# separates expressions by spaces

we are united

In [1]:
text1 = 'it'
text2 = 'easy'
print(text1 + '\'s very ' + text2)

it's very easy

In [1]:
# their priorities:not, and, or 
# None. Zero of any numeric type: 0, 0.0, 0j
# Empty sequences and collections: '', [], {}
# Other than above values, any remaining value is evaluated as True.
logic = True and False or not False or False
print(logic)

True

In [1]:
round(22/7, 3)

3.143

In [2]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [3]:
liste = [14,44,45,65,23,23,222,2,345,6654,776]
liste.sort()
print(liste)

[2, 14, 23, 23, 44, 45, 65, 222, 345, 776, 6654]

In [8]:
liste = [14,44,45,65,23,23,222,2,345,6654,776]
liste.sort(reverse=True)
print(liste)

[6654, 776, 345, 222, 65, 45, 44, 23, 23, 14, 2]

In [7]:
print(1 and "I am doing good!")
print(2 or 3)
print(None or 1)
print(0 or {})
print(1 or {})
print([] and "Hello World!")
print([] or "Hello World!")

I am doing good!
2
1
{}
1
[]
Hello World!

In [ ]:
# and (first False or last True)
# or (first True or last False)
# Priority (not, and, or)

In [8]:
print(horses * 2)

NameError: name 'horses' is not defined

In [ ]:
print(9 % 2)  # remainder of this division is 1
# it means 9 is an odd number

In [8]:

fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [ ]:
"""
The formula syntax of string indexing is : string[start:stop:step].

string[:] : returns the full copy of the sequence

string[start:] : returns elements from start to the end element

string[:stop] : returns element from the 1st element to stop-1

string[::step] : returns each element with a given step
"""

In [9]:

city = 'Phoenix'


print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [26]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [ ]:
    parentheses : ()
    power : **
    unary minus : -3
    multiplication and division : *, /
    addition and subtraction : +, -

In [ ]:
String Formatting with Arithmetic Syntax

There are several ways in Python that we use when processing and using string data structures. The most important of these are:

    Arithmetic syntax (+, *, and =),

    % operator formatting,

    string.format() method,

    f-string formatting.

In [ ]:
print("yesterday I ate", 2, "apples")  # When using print() we can write more than one expression in parentheses separated by üëâüèª,

In [27]:
print('clarus' + 'way')

clarusway

In [10]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [ ]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [11]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

i will say 'i missed you' to my mother

In [ ]:
# If you noticed, in the example above we have combined all expressions with space in a single line using the üëâüèªend= If we didn't use end=' ', we would normally get 4 lines of output.

In [12]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [10]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [11]:
str = 'Python Language'
print(str[4:])

on Language

In [24]:
print('clarus' + 'way')
print(3*'no way!', 3*'no way!')

clarusway
no way!no way!no way! no way!no way!no way!

In [25]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [26]:
fruit = 'orange'
fruit += ' apple'

print(fruit)

orange apple

In [28]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

In [29]:
fruit1 = 'Apple'
fruit2 = 'Orange'
print(2*fruit1+' '+3*fruit2)

AppleApple OrangeOrangeOrange

In [30]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence) # we get first 11 characters of the string

apologizing

In [1]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase) 
#In the '%s' syntax : s stands for 'string'.
#In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
#In the '%d' syntax : d stands for 'numeric'.

I have 4 children and 5.00 brothers

In [31]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})
#In this example, we used two variables which are amount and fruit. If you noticed, we assign values to variables in curly braces '{}'. This format is a dictionary type that you will learn in the next lessons.

33 pounds of bananas left

In [1]:
x = "HelloWorld!"
print('%.5s' % x)

Hello

In [33]:
#Time is useful module in python can be used to calculate the execution time.

import time
start = time.clock()
for x in range(1000):
    pass
end = time.clock()
total = end - start
print(total)

0.0004109919991606148

In [34]:
#2'den ba≈üla 100'e kadar 4'er 4'er say...
my_list = list(range(2, 100, 4))
print(my_list)

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98]

In [35]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit,amount))

The amount of Orange we bought is 4 pounds

In [41]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [1]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [2]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [3]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [4]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [5]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [6]:
result = f"{4 * 5}"

print(result)

20

In [ ]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

In [29]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. " 
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [8]:
#If you want to use multiple f-string formatting lines without parentheses, you will have the other option that you can use backslash \ between lines.name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [30]:
first_name = 'Kenan'
last_name = 'Deniz'
output = 'Hello, ' + first_name+ ' ' + last_name
print(output)
print('output') # when we use quotion marks its write only output.

Hello, Kenan Deniz
output

In [31]:
first_name = 'Kenan'
last_name = 'Deniz'
output ='Hello, {} {}'.format(first_name, last_name)
print(output)

Hello, Kenan Deniz

In [32]:
first_name = 'Kenan'
last_name = 'Deniz'
output ='Hello, {0} {1}'.format(first_name, last_name)
print(output)

Hello, Kenan Deniz

In [33]:
first_name = 'Kenan'
last_name = 'Deniz'
output =f'Hello, {first_name} {last_name}'
print(output)

Hello, Kenan Deniz

In [15]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [16]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [17]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [8]:
phrase = "myemailaddress@clarusway.com"
print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith("-", 15, 24))

28
True
False

In [11]:
"ahmet".startswith(("a", "h", "m"), 2)

True

In [14]:
"ay√ßi√ßeƒüi".endswith(("i", "ƒü"))

True

In [15]:
"a-h-m-e-t".replace("-", "", 2) # 2 ssayƒ±sƒ± ka√ß tane deƒüi≈üim yapƒ±lacaƒüƒ± bilgisini verir. Rakam girmezsek hepsini siler.

'ahm-e-t'

In [ ]:


    The formula syntax is : string.method()

Let's examine some common and the most important methods of string changing :

    str.replace(old, new[, count]) replaces all occurrences of old with the new.

The count argument is optional, and if the optional argument count is given, only the first count occurrences are replaced. count: Maximum number of occurrences to replace. -1 (the default value) means replace all occurrences.

    str.swapcase() converts upper case to lower case and vice versa.

    str.capitalize() changes the first character of the string to the upper case and the rest to the lower case.

    str.upper() converts all characters of the string to the upper case.

    str.lower() converts all characters of the string to the lower case.

    str.title() converts the first character of each word to upper case.

In [13]:
sentence = "I live and work in Virginia"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [20]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  

changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  

print(sentence)  
# note that, again source text is unchanged

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [21]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())  # changes 'i' to uppercase and
# the rest to lowercase

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [22]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first

In [23]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides

nteroperabilit

In [24]:
space_string = "     listen first      "
print(space_string.rstrip())  # removes all spaces from right sides

listen first

In [25]:
source_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side

teroperability

In [35]:
isim = "Kenan"
soyisim = "Deniz"
print("Merhaba sayƒ±n {} {}, sitemize hos geldiniz".format(isim, soyisim))

Merhaba sayƒ±n Kenan Deniz, sitemize hos geldiniz

In [7]:
isim = "Kenan"
soyisim = "Deniz"
print("Merhaba sayƒ±n %s %s, sitemize hos geldiniz" %(isim, soyisim))

Merhaba sayƒ±n adil basaran, sitemize hos geldiniz

In [1]:
a = 4
b = 'ali'
c = True
print(a, b, c,sep="+")

4+ali+True

In [6]:
a = 4
b = 'ali'
c = True
print(b, end="")
print(b)

aliali

In [10]:
a = 4
b = 'ali'
c = True
print(*b)

a l i

In [36]:
yazi = "WHO"
print(*yazi,sep=".")

W.H.O

In [13]:
divmod(12, 4)#bolme ve kalma cƒ±kartƒ±yor

(3, 0)

In [22]:
a = enumerate("python")
list(a) #super

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [32]:
a = 'python'
for eleman in enumerate(a):
    print(eleman)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [37]:
print(False and {0} or [])

[]

In [38]:
word = 'clarusway'
n = 3
front = "cla"
back = "usway"
print(front + back)

clausway

In [39]:
text = "{}! I am a {} programmer and I {} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [33]:
help()    # √∂zellikle yeni oython shell acƒ±p help() yazdƒ±ƒüƒ±nda her kod ile bilgi alƒ±nabilinir.

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [38]:
isim = input("isim girin:")
print(isim)
print(type(isim))

asd
<class 'str'>

In [43]:
isim = input("isim girin:")
yas = input("ya≈üƒ±nƒ±zƒ± girin:")

if int(yas) < 18:
    print("giremezsiniz")
else:
    print("ho≈ügeldin")

giremezsiniz

In [46]:
ord("1") #ASII code numarasƒ±nƒ± g√∂steriyor.

49

In [47]:
pow(2,3) #x**y

8

In [48]:
dosya = open("ornek.txt", "w")
print("jack", file = dosya)
dosya.close() #yan tarafta ornek isimli dosya olu≈üturdu.

In [52]:
print(*range(4))

0 1 2 3

In [53]:
print(*range(40, 2, -2))

40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4

In [56]:
aralƒ±k = range(100)
for sayi in aralƒ±k:
    print(sayi, end= " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [2]:
x = 5
print('value of x     : ', x)
x += 2
print('2 more of x    : ', x, "\n")
y = 10
print('value of y     : ', y)
y -= 2 
print("2 minus y      : ", y, "\n") 
z = 6
print('value of z     : ',z)
z *=2
print("2 times z      : ", z, "\n")

value of x     :  5
2 more of x    :  7

value of y     :  10
2 minus y      :  8

value of z     :  6
2 times z      :  12

In [9]:
print('c:\\north pole\noise_penguins.txt')
print("--------")
print('first', 'second', 'third', sep='\t')

c:\north pole
oise_penguins.txt
--------
first	second	third

In [13]:
print('we are', '\boosting', 'our', '\brotherhood')
print('it\'s essential to learn Python\'s libraries in TT World')

we areoosting ourrotherhood
it's essential to learn Python's libraries in TT World!

In [51]:
text = "Clarusway,"
text1 = "       "
text2 = "Clarusway"
print(text, text, text, sep=" ")
print(text1, text, text, text, sep=" ")
print(text1, text1, text, text, text2, sep=" ")

Clarusway, Clarusway, Clarusway,
        Clarusway, Clarusway, Clarusway,
                Clarusway, Clarusway, Clarusway

In [57]:
text = "Clarusway, Clarusway, Clarusway,\n\tClarusway, Clarusway, Clarusway, \n\t\tClarusway, Clarusway, Clarusway"
print(text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [58]:
print(1 and 0)
print(not 0)

0
True

In [69]:
"" or "ken" or "istanbul" or 0

'adil'

In [70]:
"" and "ken" or "istanbul" or 0

'istanbul'

In [72]:
print(None or 1)

1

In [74]:
logic = True and not [] or 'False' or {'True'} #not operat√∂r√ºn yanƒ±na ne gelirse tesine cevirir. '' bu gelirse True yapar.
print(logic)

True

In [77]:
print(2 and 3)
print(1 and 0)

3
0

In [78]:
print(2 and "hello world")
print([] and "be happy" )
print(None and ())

hello world
[]
None

In [81]:
print(None or 3)
print(2 or 3)

3
2

In [86]:
print(2 or "hello")
print([] or "happy")
print(None or ())
print({} or 0)
print({0} or False)
print ({} and 0)

2
happy
()
0
{0}
{}

In [87]:
print(2 and "hello")
print([] and "happy")
print(None and ())
print(2 or "hello")
print([] or "happy")
print(None or ())

hello
[]
None
2
happy
()

In [ ]:
Cryptocurrency_balance = 1000 # $
daily_profit = 7 # %
print("Beginning Cryptocurrency Balance :", Cryptocurrency_balance, "$", "\n") 
for a in range(1,8):
    Cryptocurrency_balance += Cryptocurrency_balance * daily_profit/100
    print(a, "day: You have",  round(Cryptocurrency_balance, 3), "$", "end of the day.")
print()
print("Total balance : You have", round(Cryptocurrency_balance, 3), "$", "end of the week.")

In [8]:
str_one = 'upper'
str_one += 3 * 'case'
str_one += 'letter'
print(* str_one)

u p p e r c a s e c a s e c a s e l e t t e r

In [1]:
sentence = "I live and work in Virginia"
sentence = sentence.upper()
print(sentence.split()) 
print(sentence)

['I', 'LIVE', 'AND', 'WORK', 'IN', 'VIRGINIA']
I LIVE AND WORK IN VIRGINIA

In [4]:
sentence = "I live and work in Virginia"
print(sentence.split('i'))

['I l', 've and work ', 'n V', 'rg', 'n', 'a']

In [1]:
print("My names {} and ...".format('Kenan Deniz'))

My names Kenan Deniz and ...

In [8]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [9]:
print('The {q} {f} {b}'.format(f = 'fox', b = 'brown', q= 'quick'))

The quick fox brown

In [20]:
result = 100/700
print("The result was {r:1.3f}".format(r = result))

The result was 0.143

In [2]:
name = 'kenan'
print('Hello, his name is {}'.format(name))
print(f'Hello, his name is {name}')

Hello, his name is kenan
Hello, his name is kenan

In [27]:
name = 'kenan'
age = 38
print(f'{name} is {age} years old.') #f ba≈üƒ±na yada sonuna bir≈üey gelmiyor.

adil is 38 years old.

In [28]:
print('{p}'.format(p = 'Python rules!'))

Python rules!

In [42]:
my_list = ['string', 300, 12.33]
#print(len(my_list))
my_list[1] = 'all for one'
#print(my_list) 
my_list.append('adil') # listeye yeni bir eleman ekler.
print(my_list)
print(my_list.pop()) #listeye yeni eklenen elemanƒ± siler.
print(my_list)

['string', 'all for one', 12.33, 'adil']
adil
['string', 'all for one', 12.33]

In [46]:
new_list = ['a', 'o', 'u', 't', 'w', 'e', 'k', 'f']
num_list = [4, 5, 6, 3, 2, 33, 444, 5565, 76, 88]
new_list.sort()
num_list.sort()
print(new_list)
print(num_list)
num_list.reverse()
print(num_list)

['a', 'e', 'f', 'k', 'o', 't', 'u', 'w']
[2, 3, 4, 5, 6, 33, 76, 88, 444, 5565]
[5565, 444, 88, 76, 33, 6, 5, 4, 3, 2]

In [48]:
my_dict = {'key1' : 'value1', 'key2': 'value2'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [75]:
prices_lookup = {'apple' : 2.99, 'oranges' : 1.99, 'milk' : 5.80}
#print(prices_lookup['apple'])
#prices_lookup ['elma'] = 3.99
#print(prices_lookup)
#prices_lookup['apple'] = 10.99
print(prices_lookup)
print(prices_lookup.keys())
print(prices_lookup.values())
print(prices_lookup.items())

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8}
dict_keys(['apple', 'oranges', 'milk'])
dict_values([2.99, 1.99, 5.8])
dict_items([('apple', 2.99), ('oranges', 1.99), ('milk', 5.8)])

In [77]:
dict = {'apple' : 5, 'orange' : 10}
print(dict)

{'apple': 5, 'orange': 10}

In [87]:
for sayi in range(10):
    print(sayi)

SyntaxError: invalid syntax (<ipython-input-87-3c8a8a16d0a8>, line 1)

In [89]:
for sayi in range(-10, 10, 2):
    print(sayi)

-10
-8
-6
-4
-2
0
2
4
6
8

In [1]:
def fonksiyon(**kwargs):
    print(kwargs)
    for i in kwargs:
        print(i)
fonksiyon(a = 0, b = 5, c = 10)

{'a': 0, 'b': 5, 'c': 10}
a
b
c

In [101]:
def fonksiyon(*args):
    print(args)
    for i in args:
        print(i + 5)
fonksiyon(0, 5, 10, 15)

(0, 5, 10, 15)
5
10
15
20

In [1]:
t = (1, 2, 3)
type(t)

tuple

In [4]:
t = ('a', 'a', 'b') # Tuple da () kullanƒ±lƒ±r. Listelerde [] bu.
t.count('a')
# 'a' ka√ß defa ge√ßtiƒüini s√∂yl√ºyor.
t.index('a')
# 'a' nƒ±n ka√ßƒ±ncƒ± sƒ±rada olduƒüunu s√∂yl√ºyor.

0

In [9]:
my_list = [1, 2, 3]
my_list[0] = 'NEW' # Listedeki 0'cƒ± elemanƒ± deƒüi≈ütirir.
print(my_list)

['NEW', 2, 3]

In [15]:
# Sets are unordered collections of unique elements. Meaning there can only be one represntative of the same object.
myset = set()
myset.add(1)
myset.add(2)
print(myset)
# bir set elemenetinin i√ßerisinde benzer karakterler var ise o karaktari sadece bir defa g√∂sterir.

{1, 2}

In [16]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [34]:
print(not(None or 0))

True

In [29]:
print('{0}{1}{2}{3}{4}'.format('I ', 'will ', 'find ', 'a ','job.'))

I will find a job.

In [31]:
print(str.title("python data types and useful operations"))

Python Data Types And Useful Operations

In [35]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [36]:
1 > 2

False

In [46]:
%%writefile aa.jpynb # Yeni bir dosya olu≈üturuyor.
hello this is a text file
aa.readlines

UsageError: unrecognized arguments: # Yeni bir dosya olu≈üturuyor.

In [45]:
aa = open('aa.ipynb')
aa.read()

''

In [48]:
x = open('test.txt', 'w') # sol taraftaki menude yeni bir test adƒ±nda bir txt dosyasƒ± olusturmamƒ±zƒ± saglƒ±yor.
x.write('Hello World')
x.close()

In [49]:
#Dictionaries
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [51]:
#Dictionaries: Can you sort a dictionary? Why or why not? Answer: No! Because normal dictionaries are mappings not a sequence.
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [2]:
hungry = False
if hungry:
    print('Feed me!')
else:
    print('Im not hungry')

Im not hungry

In [9]:
loc = 'Store'
if loc =='Auto shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print("I do not know much.")

Welcome to the store!

In [18]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
    print('num')
    print(num)

num
1
num
2
num
3
num
4
num
5
num
6
num
7
num
8
num
9
num
10

In [21]:
# √ñzelikle tab ge√ßi≈ülerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number{num}')

odd number1
2
odd number3
4
odd number5
6
odd number7
8
odd number9
10

In [26]:
# √ñzelikle tab ge√ßi≈ülerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0
for num in my_list:
     list_sum = list_sum + num
print(list_sum)

55

In [29]:
# √ñzelikle tab ge√ßi≈ülerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0
for num in my_list:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [35]:
mystring = 'Hello World'

for letter in mystring:
    print('letter')
    print(letter)

letter
H
letter
e
letter
l
letter
l
letter
o
letter

letter
W
letter
o
letter
r
letter
l
letter
d

In [40]:
my_list = [(1, 2), (3,4), (5,6), (7,8)]
len(my_list)
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
my_list = [(1, 2), (3,4), (5,6), (7,8)]
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [43]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1   # x += 1 de kullanƒ±labilinir.
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [6]:
x = [1, 2, 3]

for item in x:
    # pass yazarsak for d√∂ng√ºs√ºn√º iptal eder.
    # break 
    pass
print('ex =nd of my script')

end of my script

In [11]:
my_string = 'sammy'
for letter in my_string:
    if letter == 'a':
        break # a harfine gelince d√∂ng√ºy√º durdurur.
    print(letter)

s

In [12]:
my_string = 'sammy'
for letter in my_string:
    if letter == 'a':
        continue # a harfini d√∂ng√ºden kaldƒ±rƒ±r.
    print(letter)

s
m
m
y

In [15]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [3]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [5]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [7]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

1
2
3
4

In [13]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [19]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1, mylist2, mylist3):
    print(item)
min(mylist1)
max(mylist1)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

6

In [16]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [22]:
from random import shuffle 
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
print(mylist)

[5, 3, 2, 8, 6, 1, 7, 9, 4]

In [23]:
from random import randint
randint(0,100) #rasgele sayƒ± secme

90

In [30]:
#int(input ('enter number: '))
result = input ('enter number: ')
print(float(result))

22.0

In [34]:
mystring = 'Hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [4]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
mylist = [num for num in range(0,11) if num%2==0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [6]:
celsius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp +32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [7]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [8]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
print(mylist)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
if

In [20]:
x = int(input('enter number'))

if x%2 == 0:
    print('x', 'Girilen deƒüer √ßift sayƒ±dƒ±r.')
else:
    print(x, 'tek sayƒ±dƒ±r.')

3 bir tek sayƒ±dƒ±r.

In [ ]:
x = int(input('enter number'))

if x % 2 == 0:
    print(x, 'Girilen deƒüer √ßift sayƒ±dƒ±r.')
else:
    print(x, 'tek sayƒ±dƒ±r.')

In [21]:
def tek_mi_√ßift_mi(*args):
    print(args)
    for i in args:
        if i % 2 == 0:
            print(i, "sayƒ±sƒ± √ßiftir")
        else:
            print(i, "sayƒ±sƒ± tektir")

tek_mi_√ßift_mi(10, 123, 1, 23, 56, 156)

(10, 123, 1, 23, 56, 156)
10 sayƒ±sƒ± √ßiftir
123 sayƒ±sƒ± tektir
1 sayƒ±sƒ± tektir
23 sayƒ±sƒ± tektir
56 sayƒ±sƒ± √ßiftir
156 sayƒ±sƒ± √ßiftir

In [23]:
def √ßƒ±karma(sayƒ±1, sayƒ±2):
    sonu√ß = sayƒ±1 - sayƒ±2
    return sonu√ß

a = √ßƒ±karma(10, 5)
print(a)

5

In [35]:
def parametreler(sayƒ±1, sayƒ±2, sayƒ±3, sayƒ±4):
    return  [sayƒ±2, sayƒ±4]
result = parametreler('3', '4', sayƒ±3 = '7', sayƒ±4 = '8')
print(result)
print(result[0], result[1])

['4', '8']
4 8

In [1]:
print(not 0 and "write me")

write me

In [2]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [3]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]

print(mixed_list)
print(mixed_list[0], mixed_list[1], mixed_list[2], mixed_list[3], mixed_list[4])

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]
11 Joseph False 3.14 None

In [4]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
empty_list_1= []

empty_list_2 = list()

In [ ]:
empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')
print(empty_list_1)

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')
print(city)

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

In [2]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [6]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)
# city_list includes only one element which is the city list. # Tips: If you notice that city_list has double square brackets.

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [14]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element
#'city_list[0]' is a list type data. So that, we can still access its elements via indexing.

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [13]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [7]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [8]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [3]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [42]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [ ]:
['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [12]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list)
print(fruit_list[0][2][7])

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]
l

In [4]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included) 
# "slicing" sequence[start:stop:step]

[5, 7, 9]

In [15]:
count = list(range(11)) # range(start, stop[, step])
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [7]:
odd_numbers = list(range(0, 11))
print(odd_numbers)
print(odd_numbers[1:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [10]:
odd_numbers = list(range(1, 11))
print(odd_numbers)
print(odd_numbers[::2])
print(odd_numbers[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
""" 
        my_list[:]: returns the full copy of the sequence

        my_list[start:] : returns elements from start to the end element

        my_list[:stop] : returns element from the 1st element to stop-1

        my_list[::step] : returns each element with a given step

"""

In [1]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [2]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:]) # slices the animals starts at index=3 to the end

['wolf', 'rabbit', 'deer', 'giraffe']

In [3]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:5]) # slices the animals starts at index=0 to the index=4

['elephant', 'bear', 'fox', 'wolf', 'rabbit']

In [4]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[::2]) # slices animals starts at index=0 to the end with 2 step.

['elephant', 'fox', 'rabbit', 'giraffe']

In [16]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [17]:
print(len([[12, 34, 56]]))

1

In [18]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4]) # the last element of a list as list_name[-1]

In [5]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:]) # return in reverse order

['lobster', 'squid', 'octopus']

In [6]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [7]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [8]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
""" üí°Tips :

    If you choose negative step with the start and end indexes together, those should be used accordingly, that is, the end index should be less than the start index.
"""

In [19]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [39]:
st = 'Sam Print only the words that start with s in this sentence'

for word in st.split():
    if word[0] == 's' or word[0] == 'S':
        print(word)

Sam
start
s
sentence

In [24]:
#Use range() to print all the even numbers from 0 to 10.
list(range(0,11,2))
# or 
for num in range(0,11,2)

[0, 2, 4, 6, 8, 10]

In [31]:
#Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [43]:
#Go through the string below and if the length of a word is even print "even!"
st = 'Go through the string below and if the length of a word is even print'
for word in st.split():
    if len(word) % 2 == 0:
        print(word)

Go
string
if
length
of
word
is
even

In [46]:
# Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

SyntaxError: unexpected EOF while parsing (<ipython-input-46-07b9a911582b>, line 11)

In [36]:
#Use a List Comprehension to create a list of the first letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [41]:
word="Go through the string below and if the length of a word is even print "
A=[]
for n_word in word.split():
    if len(n_word)%2==0:
        A.append(n_word)
print(" ".join(A))

Go string if length of word is even

In [47]:
print(["FizzBuzz"*(not i%15) or "Fizz"*(not i%3) or "Buzz"*(not i%5) or i for i in range(1,101)])

SyntaxError: unexpected EOF while parsing (<ipython-input-47-a43596cf3613>, line 1)

In [49]:
mylist = [1, 2, 3]
mylist.append(4) #mylist.pop() son ekleneni siler.
print(mylist)

[1, 2, 3, 4]

In [50]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [60]:
phrase = '{morality} {1} {0} {condition}'.format('in all', 'wins', condition = 'circumstances', morality = 'generosity')

In [1]:
sample = f"{2 ** 3}"
print(sample)

8

In [16]:
text = 'S0d0me and G0m0re'
new_text = text.replace("0", "o")
print(new_text)

Sodome and Gomore

In [2]:
name = "MARIAM"
output = f'My name is {name.capitalize()}'
print(output)

My name is Mariam

In [3]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
output = f'{name} is a {age} {gender} and she is a student at the {school}.'
print(output)

Susan is a young lady and she is a student at the CLRWY IT university.

In [6]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
output = (
f'{name} is a {age} '
f'{gender} and she is a student ' 
f'at the {school}.'
)
print(output)

Susan is a young lady and she is a student at the CLRWY IT university.

In [74]:
word = 'clarusway'

front = word.rstrip("rusway")
back = word.lstrip("clar")
print(front + "a" + back)

clausway

In [70]:
word = 'clarusway'

front = word.rstrip("rusway")
back = word.lstrip("clar")
print(front + "a" + back)

claruswa

In [38]:
text = "{0}! I am a {1} programmer and I {2} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [76]:
print({0} and False or [])

[]

In [77]:
float("140" * int(input("Enter a number:" )))

140140.0

In [79]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [83]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

text = f'The less you {var1} and {var2}, the {var3} your {var4} will be.'
print(text)

The less you sleep and eat, the better your life will be.

In [88]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

text = 'The less you {} and {}, the {} your {} will be.'.format("sleep", "eat", "better", "life")
print(text)

The less you sleep and eat, the better your life will be.

In [97]:
city = "SARAJEVO"
text = f'I live in {city.capitalize()}.'
print(text)

I live in Sarajevo.

In [98]:
word = 'clarusway'
n = 3
front = word[:n]
back = word[4:]
print(front + back)

clausway

In [4]:
deger = input('deger gir: ')
if deger == "abc":
    print('girilen deger: ', deger)
if deger != 'abc':
    print('kullanƒ±cƒ± abc girmemi≈ütir.')

abc

In [ ]:
sayƒ±1 = int(input("Sayƒ±1 girilsin"))
sayƒ±2 = int(input("Sayƒ±2 girilsin"))

if sayƒ±1 > sayƒ±2:
    print("{} {}'den b√ºy√ºkt√ºr ".format(sayƒ±1, sayƒ±2))
elif sayƒ±1 < sayƒ±2:
    print("{1} {0}'den b√ºy√ºkt√ºr ".format(sayƒ±1, sayƒ±2))
else:
    print("{} {}'e e≈üittir ".format(sayƒ±1, sayƒ±2))

In [ ]:
while True:
    isim =  input('isim gir')
    if isim == 'q':
        print('G√ºle g√ºle')
        break
    else:
        print('merhaba sahip')

In [1]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [2]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [3]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [4]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [5]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [7]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [1]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [8]:
empty_tuple = () #  tuple is immutable
# methods like append() or remove() do not exist in the operations of this type.

In [9]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [10]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [11]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [12]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [13]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [14]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [15]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [16]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [17]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [18]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: tuple index out of range

In [19]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [20]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: 'tuple' object does not support item assignment

In [21]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
count = list(range(1, 11))
count.sort(reverse=True)

print(count)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon","spinach", "cheese", "leek"], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [50]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = ("My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1]))

print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [6]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [8]:
""" Homework:

    Examine the use of .index() and .count() methods of the tuples. """

' Homework:\n\n    Examine the use of .index() and .count() methods of the tuples. '

In [7]:
source_string = "interoperability"
print(source_string.lstrip("tni")) # yazƒ±lanlarƒ±n kombinasyonu alƒ±r ve t√ºm hepsini sorgular ve siler.

eroperability

In [24]:
a = "aaaxyxyxyxyxy"
print(a.rstrip("xy"))

aaa

In [11]:
text = "tyou can learn almost everthing in pre-classz"
text = text.strip("tz").upper() 
print(text)

YOU CAN LEARN ALMOST EVERTHING IN PRE-CLASS

In [23]:
text = "In God wee Trust"
text1 = "In God wee\b Trust"
text2 = text[:9]
text3 = text[10:]
print(text.replace("wee", "We"))
print(text1)
print(text2 + text3)

In God We Trust
In God we Trust
In God we Trust

In [30]:
print("istanbul")
print("istanbul" * 2, sep=" ")

istanbul
istanbulistanbul

In [33]:
print(* "istanbul", sep=",")

i,s,t,a,n,b,u,l

In [34]:
print(* "istanbul" * 2)

i s t a n b u l i s t a n b u l

In [35]:
print(* "istanbul"[0])

i

In [39]:
sehir = "istanbul"
print(sehir)

istanbul

In [40]:
sehir += "izmir"
print(sehir)

istanbulizmir

In [41]:
sehir
print(sehir)

istanbulizmir

In [42]:
print(type(input("enter a number: ")))

<class 'str'>

In [7]:
a = 3
b = 4
# summary = a + b
print("{} + {}'nin toplamƒ± {}'dƒ±r.".format(a, b, a + b))

3 + 4'nin toplamƒ± 7'dƒ±r.

In [9]:
text = "{:.2f},{:.2f},{:.3f}".format(3.14, 5.367, 7.5674)
print(text)

3.14,5.37,7.567

In [12]:
text = "{:.2s},{:.2s},{:.3s}".format("3.14", "5.367", "istanbul")
print(text)

3.,5.,ist

In [20]:
test = 1000
text1 = "Maa≈üƒ±nƒ±z {:>30} TL dir.".format(test)
text1

'Maa≈üƒ±nƒ±z                           1000 TL dir.'

In [18]:
test = 1000
text2 = "Maa≈üƒ±nƒ±z {:<30} TL dir.".format(test)
text2

'Maa≈üƒ±nƒ±z 1000                           TL dir.'

In [22]:
test = 1000
text3 = "Maa≈üƒ±nƒ±z {:^30} TL dir.".format(test)
text3

'Maa≈üƒ±nƒ±z              1000              TL dir.'

In [35]:
year = int(
    input("Artƒ±k yƒ±l olup olmadƒ±ƒüƒ±nƒ± bulmak i√ßin bir yƒ±l giriniz (√ñrneƒüin 1980): "))

if year % 4 == 0 and year % 100 != 100 or year % 400 == 0:
    print("artƒ±k")
else:
    print("deƒüil")

deƒüil

In [47]:
year = int(input("Artƒ±k yƒ±l olup olmadƒ±ƒüƒ±nƒ± bulmak i√ßin bir yƒ±l giriniz (√ñrneƒüin 1980): "))

if year % 4 == 0 and year % 100 != 100 or year % 400 == 0:
    print(f"{year} yƒ±lƒ± artƒ±k yƒ±ldƒ±r.")
else:
    print(f"{year} yƒ±lƒ± artƒ±k yƒ±l deƒüildir.")

2000 yƒ±lƒ± artƒ±k yƒ±ldƒ±r.

In [45]:
year = int(input("Artƒ±k yƒ±l olup olmadƒ±ƒüƒ±nƒ± bulmak i√ßin bir yƒ±l giriniz (√ñrneƒüin 1980): "))
leap_year = (year % 4 == 0 and year % 100 != 100 or year % 400 == 0)

print(f"{year} yƒ±lƒ± artƒ±k yƒ±ldƒ±r." * leap_year)
print(f"{year} yƒ±lƒ± artƒ±k yƒ±l deƒüildir." * (not leap_year))

1984 yƒ±lƒ± artƒ±k yƒ±ldƒ±r.

In [9]:
aa = [1, 3, 5, 7, 9]
aa

[1, 3, 5, 7, 9]

In [11]:
aa[2] = 25
aa

[1, 3, 25, 7, 9]

In [12]:
aa[2:] = "Clarusway"
aa

[1, 3, 'C', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [13]:
string_1 =  "I quit smoking"

new_list =

SyntaxError: invalid syntax (<ipython-input-13-5dddf5c3db84>, line 3)

In [17]:
list_1 = list("2020's hard") # elemanlarƒ±na ayƒ±rƒ±r.
list_2 = ["2020's hard"]     # [] tek eleman olarak kabul eder.
print(list_1)
print(list_2)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

In [18]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [19]:
numbers = [1, 4, 7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6)
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

In [23]:
list_1 = [1, 2, 3, 4]
list_1.insert(4, 5)
#list_1.insert(, 5)
print(list_1)

[1, 2, 3, 4, 5]

In [25]:
numbers = [1, 4, 7, 9]
numbers.remove(7)
print(numbers)

[1, 4, 9]

In [26]:
numbers = ["1", "4", "7", "9"]
numbers.remove("7")
print(numbers)

['1', '4', '9']

In [28]:
numbers = [4, 1, 9, 5]
numbers.sort()
print(numbers)

[1, 4, 5, 9]

In [29]:
numbers = [4, 1, 9, 5]
numbers.sort()
print(numbers)

True [1, 4, 5, 9]

In [34]:
numbers = [4, 1, 9, 5]
numbers.sort(reverse = True)
print(numbers)

[9, 5, 4, 1]

In [35]:
list_1 = ["one", "four", "nine"]
list_2 = ["*-", "@", "False"]
list_3 = [True, False]
list_4 = [[3], [44, 0], [-12]]
list_5 = [[1, 3], [44, 0], [-12, 1]]
list_1.sort()
list_2.sort()
list_3.sort()
list_4.sort()
list_5.sort()

print(list_1)
print(list_2)
print(list_3)
print(list_4)
print(list_5)

['four', 'nine', 'one']
['*-', '@', 'False']
[False, True]
[[-12], [3], [44, 0]]
[[-12, 1], [1, 3], [44, 0]]

In [ ]:
sort()  # (shift + tab) * 2 detaylƒ± bilgi metod hakkƒ±nda.

In [1]:
word = ["h", "a", "p", "p", "y"]
print(word[1])

a

In [1]:
empty_dict_1 = {} # dictionary

empty_dict_2 = dict()

In [2]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [4]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }
print(my_dict)
# basic dictionary

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [5]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [6]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [7]:
mix_dict = {'animal': ('dog', 'cat'),  # tuple type
            'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
            'number': 40,  # int type
            'pi': 3.14,  # float type
            'is_good': True}  # bool type

In [8]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [9]:
""" There are several methods that allow us to access items, keys, and values. You can access all items using the .items() method, all keys using the .keys() method, and all values using the .values() method: """

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [10]:
# add new items using the .update() method
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [11]:
""" remove an item using the del function:

    The formula syntax is : del dictionary_name['key']. """

dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']
# birden fazla eleman silme.
# del (dict_by_dict[1], dict_by_dict[3], dict_by_dict[5]) 
print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [13]:
""" Using the "in" and the "not in"" operator, you can check if the key is in the dictionary.

        When we use the "in" operator; if "the key is in the dictionary", the result will be "True" otherwise False.

        When we use the "not in"; if the "key is not in the dictionary", the result will be "True" otherwise False.

 """

dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [19]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36}
print(student_ages["Clark"])

32

In [2]:
names = ["Chistopher", "Susan"]
scores = []
scores.append(98) # Add new item to the end
scores.append(99)
print(names)
print(scores)
print(scores[1])  # collections are zero-indexed

['Chistopher', 'Susan']
[98, 99]
99

In [3]:
from array import array
scores = array("d")
scores.append(97)
scores.append(98)
print(scores)
print(scores[1])

array('d', [97.0, 98.0])
98.0

In [ ]:
# What's the diferrence?

# Arrays: numerical daya types must all be the same type

# Lists: store anything store any type

In [5]:
names = ["Susan", "Chistopher"]
print(len(names))  # Get the number of items
names.insert(0, "Bill")  # Insert before index
print(names)
names.sort()
print(names)
print(len(names))

2
['Bill', 'Susan', 'Chistopher']
['Bill', 'Chistopher', 'Susan']
3

In [6]:
# Retreving ranges
names = ["Susan", "Chistopher", "Bill", "Justin"]
presenters = names[1:3]  # start and end index

print(names)
print(presenters)

['Susan', 'Chistopher', 'Bill', 'Justin']
['Chistopher', 'Bill']

In [18]:
# dictionaries
person = {"first": "Chistopher"}
person["last"] = "Harrison"
print(person)
print(person["first"], person["last"])

{'first': 'Chistopher', 'last': 'Harrison'}
Chistopher Harrison

In [19]:
kenan = {}
kenan["first"] = "Kenan"
kenan["last"] = "Deniz"

deniz= {}
deniz["first"] = ""
deniz["last"] = "Deniz"

people = []
people.append(kenan)
people.append(deniz)
people.append({
"first": "Bill", "last": "Gates"
})

print(people)

[{'first': 'Kenan', 'last': 'Deniz'}, {'first': '', 'last': 'Deniz'}, {'first': 'Bill', 'last': 'Gates'}]

In [20]:
# the nested dict
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [81]:
# We can use square brackets to access internal dicts :

school_records = {
    "personal_info":
        {"kid": {"tom": {"class": "intermediate", "age": 10},
                 "sue": {"class": "elementary", "age": 8}
                 },
         "teen": {"joseph": {"class": "college", "age": 19},
                  "marry": {"class": "high school", "age": 16}
                  },
         },
    "grades_info": {"kid": {"tom": {"math": 88, "speech": 69},
                            "sue": {"math": 90, "speech": 81}
                            },
                    "teen": {"joseph": {"coding": 80, "math": 89},
                             "marry": {"coding": 70, "math": 96}
                             },
                    },
}

print(school_records['personal_info']['teen']['marry']['age'])
print(list(school_records["grades_info"]["teen"]["joseph"].items()))
print(school_records["grades_info"]["teen"]["joseph"])

16
[('coding', 80), ('math', 89)]
{'coding': 80, 'math': 89}

In [ ]:
""" 
 üí°Tips:

    Dictionaries strongly resemble JSON syntax. The native json module in the Python standard library can be used to convert between JSON and dictionaries.
"""

In [ ]:
"""
 ‚úèÔ∏èHomework:

    What is 'JSON' and what is it used for?
"""

In [24]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers["insurance"][5]["age"])

22

In [ ]:
"""
Creating a Set

Curly braces '{}' or the set() function can be used to create sets. But the only way to create an empty set is: use the set() function.
"""

In [27]:
"""  
‚ö†Ô∏èAvoid ! :

    Note that, to create an empty set you have to use set() function. Do not use {} to create an empty set. Otherwise, you will create an empty dictionary. 
 """

empty_set = set()  # create a simple empty set

In [28]:
empty_set = set()

print(type(empty_set))

<class 'set'>

In [31]:
#  sets have unordered and unique objects

colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'red', 'orange', 'yellow', 'purple', 'darkblue'}
{'red', 'orange', 'yellow', 'purple', 'darkblue'}

In [33]:
s = set('unselfishness')

print(s)
print(s)

{'u', 'n', 's', 'i', 'e', 'l', 'f', 'h'}
{'u', 'n', 's', 'i', 'e', 'l', 'f', 'h'}

In [34]:
""" the letters of the string type data are only written once in the set. Within this scope, using sets can help you avoid repetitions. Let's convert a list into a set and look at the repetitions of its elements: """


flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'violet', 'rose', 'orchid', 'carnation'}
['violet', 'rose', 'orchid', 'carnation']

In [ ]:
""" ‚úèÔ∏èHomework:

    {'carnation', 'orchid', 'rose', 'violet'} üëàüëâ {'rose', 'orchid', 'rose', 'violet', 'carnation'} Do these two sets give the same output and why? (Note: Try to figure out the answer before run on the Playground)"""

In [ ]:
""" Main Operations with Sets

    .add() : Adds a new item to the set.

    .remove() : Allows us to delete an item.

    .intersection() : Returns the intersection of two sets.

    .union() : Returns the unification of two sets.

    .difference() : Gets the difference of two sets
"""

In [37]:
a = set('abracadabra')

print(a)

{'d', 'a', 'b', 'c', 'r'}

In [38]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'d', 'r', 'b'}
{'d', 'r', 'b'}

In [41]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

{'d', 'z', 'a', 'b', 'l', 'c', 'r', 'm'}
{'d', 'z', 'a', 'b', 'l', 'c', 'r', 'm'}

In [40]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

{'a', 'c'}
{'a', 'c'}

In [42]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

{'d', 'a', 'b', 'r'}

In [43]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

{'d', 'a', 'b', 'c', 'r'}

In [1]:
print(len(set('listen to the voice of enlisted')))

13

In [1]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [2]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1, 20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [4]:
payroll = float(input("Please input your payroll: "))

print("Your payroll is $%.2f" % (payroll))

Your payroll is $1000.00

In [3]:
payroll = float(input("L√ºtfen Maa≈üƒ±nƒ±zƒ± Giriniz: "))
print(f"Bu aya ait maa≈üƒ±nƒ±z : ${payroll:.2f}")

Bu aya ait maa≈üƒ±nƒ±z : $1000.00

In [2]:
sales = {
    "cost_value": 31.87,
    "sell_value": 45.00,
    "inventory": 1000
}

total_profit = (sales["sell_value"] - sales["cost_value"]) * sales["inventory"]

print("Total Profit = ", round(total_profit), "\b$")

Total Profit =  13130$

In [6]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [7]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [8]:
#     Remember to always use a comma when defining a singleton tuple.
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [9]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [10]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [11]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [12]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [13]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [14]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [15]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: tuple index out of range

In [17]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [18]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: 'tuple' object does not support item assignment

In [20]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
count = list(range(1, 11))
count.sort(reverse=True)

print(count)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek"], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [23]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = ("My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1]))

print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [24]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [26]:
empty_dict_1 = {}

empty_dict_2 = dict()

In [27]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [28]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }

In [29]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [30]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [31]:
# Note that values can be of different types.
mix_dict = {'animal': ('dog', 'cat'),  # tuple type
            'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
            'number': 40,  # int type
            'pi': 3.14,  # float type
            'is_good': True}  # bool type

In [32]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [33]:
#  ‚ö†Ô∏èAvoid ! :

#    Do not use quotes for keys when using the dict() function to create a dictionary.

In [34]:
""" 
Q: What is a dictionary in Python?
A: Python dictionary is one of the supported data types in Python. It is an unordered collection of elements. The elements in dictionaries are stored as key‚Äìvalue pairs. Dictionaries are indexed by keys. For example, below we have a dict named my_dict. It contains two keys, fruit and vegatable, along with their corresponding values, banana and onion.

my_dict = {'fruit':'banana', 'vegatable':'onion'}
"""

" \nQ: What is a dictionary in Python?\nA: Python dictionary is one of the supported data types in Python. It is an unordered collection of elements. The elements in dictionaries are stored as key‚Äìvalue pairs. Dictionaries are indexed by keys. For example, below we have a dict named my_dict. It contains two keys, fruit and vegatable, along with their corresponding values, banana and onion.\n\nmy_dict = {'fruit':'banana', 'vegatable':'onion'}\n"

In [36]:
# access all items using the .items() method, all keys using the .keys() method, and all values using the .values() method:

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [37]:
# add new items using the .update() method
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [38]:
# The formula syntax is : del dictionary_name['key'].
ict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [39]:
"""
Using the in and the not in operator, you can check if the key is in the dictionary.

        When we use the in operator; if the key is in the dictionary, the result will be True otherwise False.

        When we use the not in; if the key is not in the dictionary, the result will be True otherwise False.


"""

'\nUsing the in and the not in operator, you can check if the key is in the dictionary.\n\n        When we use the in operator; if the key is in the dictionary, the result will be True otherwise False.\n\n        When we use the not in; if the key is not in the dictionary, the result will be True otherwise False.\n\n\n'

In [40]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [41]:
# nested dictionaries
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [42]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [44]:
"""
 ‚úèÔ∏èHomework:

    What is 'JSON' and what is it used for?

"""

"\n ‚úèÔ∏èHomework:\n\n    What is 'JSON' and what is it used for?\n\n"

In [51]:
# number = range(1, 11)
a = tuple(range(1, 11))
print(a, type(a), sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [53]:
mix_tuple = ("11", 11, [2, "two", ("six, 6")], (5, "fair"))
print(mix_tuple[2][2][0]

SyntaxError: unexpected EOF while parsing (<ipython-input-53-2ce0b0a46580>, line 2)

In [56]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
print(mix_tuple[-1])

(5, 'fair')

In [60]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
option_1 = mix_tuple[3][1]
option_2 = mix_tuple[-1][1]

print(option_1)
print(option_2)

fair
fair

In [68]:
family = {  "name1":"Kenan",                    "name2":"Ay≈üeg√ºl",                  "name3": "Kerem"
        }
print(family, type(family), sep="\n")
family["name4"] = "Neva"
print(family, type(family), sep="\n")

{'name1': 'Kenan', 'name2': 'Ay≈üeg√ºl', 'name3': 'Kerem'}
<class 'dict'>
{'name1': 'Kenan', 'name2': 'Ay≈üeg√ºl', 'name3': 'Kerem', 'name4': 'Neva'}
<class 'dict'>

In [67]:
family = dict(name1 = "Kenan",                    name2 = "Ay≈üeg√ºl",                  name3 = "Kerem")
print(family, type(family), sep="\n")

{'name1': 'Kenan', 'name2': 'Ay≈üeg√ºl', 'name3': 'Kerem'}
<class 'dict'>

In [75]:
family = {1 : "Kenan",                    2 : "Ay≈üeg√ºl",                  3 : "Kerem"}
print(family, type(family), sep="\n")

{1: 'Kenan', 2: 'Ay≈üeg√ºl', 3: 'Kerem'}
<class 'dict'>

In [76]:
list(family.items)

TypeError: 'builtin_function_or_method' object is not iterable

In [11]:
sentence = input("Please write your sentences: ")

left_hand = ("q", "a", "z", "w", "s", "x", "e", "d",
             "c", "r", "f", "v", "t", "g", "b")
right_hand = ("y", "h", "n", "u", "j", "m", "ƒ±", "k",
              "√∂", "o", "l", "√ß", "p", "≈ü", "ƒü", "i", "√º")

a = set(sentence.lower())
b = set(right_hand)
c = set(left_hand)

comfort_words = (bool((a & b) and (a & c)))
print("This sentences is comfort words." * (comfort_words))
print("This sentences is not comfort words." * (not comfort_words))

This sentences is not comfort words.

In [30]:

# Python program to find the 
# frequency of largest element 
  
import collections 
  
#  L = [1, 2, 8, 5, 8, 7, 8] 

# find the largest element 
# largest = max(L) 
  
# Storing the occurrences of each 
# element of list in res 
# res = collections.Counter(L) 
  
# print(res[largest])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [16]:

a = [1, 3, 7, 4, 3, 0, 3, 6, 3]
print(a.count(a[]))

0

In [24]:
a = []
b = [True, []]
# c = ()
d = list()
e = [123]
# f = list(123)
# g = list['123']
# h = list[123]

print("a", type(a))
print("b", type(b))
print("c", type(c))
print("d", type(d))
print("e", type(e))
# print(type(f))
# print(type(g))
# print(type(h))

a <class 'list'>
b <class 'list'>
c <class 'tuple'>
d <class 'list'>
e <class 'list'>

In [27]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
family_members_tup = tuple(family_members)
print(type(family_members_tup))

<class 'tuple'>

In [3]:
# A≈üaƒüƒ±da kullanƒ±cƒ±dan sayƒ±larƒ± istiyoruz split ile virg√ºlden
#b√∂l√ºyoruz. Sonu√ß otomatik olarak liste tipinde geldiƒüi i√ßin
# listeye √ßevirmeye gerek kalmƒ±yor.
#numbers = (input("L√ºtfen sayƒ±larƒ± arasƒ±na virg√ºl koyarak giriniz :")).split(",")

numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

# print(numbers, type(numbers))
most_frequent = max(numbers, key=numbers.count)
repeat_times = numbers.count(most_frequent)
print(f"The most frequent number is {most_frequent} and it was \
{repeat_times} times repeated.")
print("The most frequent number is " + str(most_frequent) + " and it was " \
+ str(repeat_times) + " times repeated.")

The most frequent number is 3 and it was 4 times repeated.
The most frequent number is 3 and it was 4 times repeated.

In [ ]:
if condition:
    body  # the body code should start at indentation (four spaces)

In [32]:
if True:
    print('it is true')

it is true

In [33]:
empty_seat = 14

if empty_seat > 3:  # in this case, 14>3=True, so the body will execute
    print('there is still seat to sit')

there is still seat to sit

In [ ]:
 üí°Tips :

    Note that the condition ends with a colon and a new line starts with an indentation.

In [34]:
x = 6
y = 9
print ("is x equal to y?                 :" , x == y)
print ("is x not equal to y?             :" , x != y)
print ("is x less than y?                :" , x < y)
print ("is x greater than y?             :" , x > y)
print ("is x less than or equal to y?    :" , x <= y)
print ("is x greater than or equal to y? :" , x >= y)

is x equal to y?                 : False
is x not equal to y?             : True
is x less than y?                : True
is x greater than y?             : False
is x less than or equal to y?    : True
is x greater than or equal to y? : False

In [35]:
course = 'clarusway'

if course == "clarusway":
    print("you guaranteed the job")
else:
    print("think about it again")

you guaranteed the job

In [ ]:
if condition1:
    execute body1

elif condition2:
    execute body2

else:
    execute body3

In [36]:
weight = 80

if weight > 100:
    print("That's too heavy!")
elif weight > 75:
    print("I can lift that!")
else:
    print("That's too light!")

I can lift that!

In [37]:
audience = "baby"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [39]:
number = 8

if number >= 10:
    print("The number is equal or greater than 10")
else:
    print("The number is less than 10")

The number is less than 10

In [40]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [41]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Your degree: A

In [ ]:
# indentation 4 space need executed code.
if province in("Alberta", "Nunavut", "Yukon"):
    tax = 0.05
elif province == "Ontario" or province == "xxx":
    tax = 0.13
else:
    tax = 0.15

In [ ]:
if country == "Canada":
    if province in ("Alberta", "Nunavut", "Yukon"):
        tax = 0.05
    elif province = "Ontario":
        tax = 0.13
    else:
        tax = 0.15
else:
    tax = 0.0

In [ ]:
if gpa >= .85:
    if lowest_grade >= .70:
        print("Well done")

In [ ]:
if gpa >= .85 and lowest_grade >= .70:
    print("Well done")

In [ ]:
if gpa >= .85 and lowest_grade >= .70:
    honour_roll = True
else:
    honour_roll = False
# somewhere later in your code
if honour_roll:
    print("Well done")

In [5]:
letter = "q a z w s x e d c r f v t g b y h n u j m ƒ± k √∂ o l √ß p ≈ü ƒü i √º".split()
print(set(letter))

{'r', '≈ü', 'i', 'h', 'z', 'c', 'd', '√∂', 'y', 'o', 'x', 'm', 's', 'f', 'p', 'a', 'ƒü', 'e', 'b', '√º', 'l', 'q', 'v', 'k', 'n', 'j', 'g', 'w', 'ƒ±', 't', 'u', '√ß'}

In [7]:
a = {"carnation", "orchid", "rose", "violet"}
b = {"carnation", "orchid", "rose", "violet", "rose", "violet"}
print(a)
print(b)

{'carnation', 'orchid', 'rose', 'violet'}
{'carnation', 'orchid', 'rose', 'violet'}

In [9]:
a = set("philadelphia")
b = set("dolphin")
print(a)
print(b)

{'i', 'h', 'l', 'p', 'd', 'a', 'e'}
{'i', 'h', 'p', 'l', 'd', 'n', 'o'}

In [ ]:
"""
.add()           adding
.remove()        remove
.intersection()  kesi≈üim
.union()         birle≈üim
.difference()    fark
"""

In [10]:
# difference
print(a - b)
print(a.difference(b))

{'e', 'a'}
{'e', 'a'}

In [11]:
#difference
print(b - a)
print(b.difference(a))

{'n', 'o'}
{'n', 'o'}

In [12]:
# union (|) aynƒ± zamanda or olarak da kullanƒ±lƒ±r.
print(a | b)
print(a.union(b))

{'i', 'h', 'l', 'p', 'd', 'a', 'n', 'o', 'e'}
{'i', 'h', 'l', 'p', 'd', 'a', 'n', 'o', 'e'}

In [13]:
# intersection (&) aynƒ± zamanda and olarak da kullanƒ±lƒ±r.
print(a & b)
print(a.intersection(b))

{'i', 'h', 'l', 'p', 'd'}
{'i', 'h', 'l', 'p', 'd'}

In [14]:
date = set("07/04/2020")
date1 = {"07/04/2020"}
print(date)
print(date1)

{'0', '/', '7', '2', '4'}
{'07/04/2020'}

In [16]:
given_list = [1, 2, 3, 3, 3, 4, 4, 5, 5]
list1 = set(given_list)
print(list1)

{1, 2, 3, 4, 5}

In [19]:
a = set("Washington")
b = set("Wellington")
print(a & b)  # 
print(a | b)  # 
print(a - b)  #

{'i', 'g', 'n', 't', 'o', 'W'}
{'i', 'h', 'l', 'g', 'a', 'n', 't', 'o', 'e', 'W', 's'}
{'a', 'h', 's'}

In [22]:
# ingredients and requirements:
minced_meat = True
hamburger_bread = True
lettuce = False
pepper = True
grocery_store = True


hamburger = minced_meat and hamburger_bread and (lettuce or pepper) and grocery_store

if hamburger :
    print("Bon Appetit")

Bon Appetit

In [23]:
1.0 == 1

True

In [25]:
1 == "1"

False

In [26]:
a = set("asap")
b = set("pasa")

a == b

True

In [30]:
a = set("TWELVE PLUS ONE")
b = set("ELEVEN PLUS TWO")
print(a)
print(b)
if a == b:
    print("We are the same!")

{'T', 'V', 'S', 'E', 'P', 'U', 'N', 'O', 'W', ' ', 'L'}
{'T', 'V', 'S', 'E', 'P', 'U', 'N', 'O', 'W', ' ', 'L'}
We are the same!

In [31]:
q = Yes = True
q2 = No = False

if q :
    print("You entered True." * q)
    print("You entered False." * (not q))

You entered True.

In [33]:
convert = input("Enter Yes or No: ").title().strip() == "Yes"
print("You entered", convert)

You entered False

In [34]:
number = int(input("Bir sayƒ± giriniz: "))

if number % 2 == 0:
    print(number, "is Even.")
else:
    print(number, "is Odd.")

5 is Odd.

In [35]:
num = float(input("Enter a number: "))
if num > 0 :
    print("Positive number")
else:
    print("Negative number")

Positive number

In [39]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if num1 > num2 :
    print("The large number is", num1)
else:
    print("The large number is", num2)

The large number is 5.0

In [40]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if num1 > num2 :
    larger = num1
else:
    larger = num2

print("The large number is", larger)

The large number is 8.0

In [42]:
bool_value = False

if bool_value :
    print("Yes")
else :
    print("No")

No

In [44]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if num1 > num2 and num1 > num3 :
    print("The largest number is", num1)
elif num2 > num1 and num2 > num3 :
    print("The largest number is", num2)
else:
    print("The largest number is", num3)

The largest number is 9.0

In [45]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if num1 > num2 and num1 > num3 :
    largest = num1
elif num2 > num1 and num2 > num3 :
    largest = num2
else:
    largest = num3

print("The largest number is", largest)

The largest number is 9.0

In [48]:
a = float(input("Please enter a number"))
b = float(input("Please enter a number"))
c = float(input("Please enter a number"))
if (a>b>c) :
    largest = a
elif (b>a>c):
    largest = b
elif (c>b>a):
    largest = c
    print("The largest number is: ",largest)

The largest number is:  9.0

In [1]:
num = float(input("Enter a number: "))

if num > 0 :
    print(num, "is positive number.")
elif num < 0:
    print(num, "is negative number.")
else :
    print(num, "is equal to zero.")

Enter a number: 5
5.0 is positive number.

In [2]:
number = int(input("Enter a number between 1-10: "))

for i in range(11):
    print(f"{number}x{i} =", number * i)
    i += 1

5x0 = 0
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

In [3]:
n = int(input('enter a number between 1-10: '))
for i in range(11):
    print("%dx%d =" %(n,i), n*i)

5x0 = 0
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

In [4]:
number = int(input("Please enter a number between 1 to 10 : "))
j = 0
while j <= number:
    m = number * j
    print(number,"x",j, "=", m)
    print("{} x {} =".format(number,j), m)
    print(f"{number} x {j} = {m}")
    j += 1

4 x 0 = 0
4 x 0 = 0
4 x 0 = 0
4 x 1 = 4
4 x 1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 2 = 8
4 x 2 = 8
4 x 3 = 12
4 x 3 = 12
4 x 3 = 12
4 x 4 = 16
4 x 4 = 16
4 x 4 = 16

In [5]:
print(*range(10, 0, -3))

10 7 4 1

In [6]:
print(*range(10, -1, -3))

10 7 4 1

In [7]:
print(*range(10, -2, -2))

10 8 6 4 2 0

In [11]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(zip(text, numbers))
    print(x, ":", y)

<zip object at 0x000002793EF14608>
one : 1
<zip object at 0x000002793EF14048>
two : 2
<zip object at 0x000002793B712F48>
three : 3
<zip object at 0x000002793EF27FC8>
four : 4
<zip object at 0x000002793EF27088>
five : 5

In [18]:
letters = ["a", "b", "c", "d"]
numbers = [1, 2, 3, 4]
zip(letters, numbers)
print(zip(letters, numbers))
print(list(zip(letters, numbers)))
print(dict(zip(letters, numbers)))
print(tuple(zip(letters, numbers)))

<zip object at 0x000002793F86B308>
[('a', 1), ('b', 2), ('c', 3), ('d', 4)]
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
(('a', 1), ('b', 2), ('c', 3), ('d', 4))

In [21]:
evens = []
odds = []

for i in range(11):
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)  
print("evens :", evens)
print("odds :", odds)

evens : [0, 2, 4, 6, 8, 10]
odds : [1, 3, 5, 7, 9]

In [24]:
list1 = [11, 2, 24, 61, 48, 33, 3]
evens = 0
odds = 0

for i in list1:
    if i % 2 == 0:
        evens += 1
    else:
        odds += 1 
print("The number of even numbers :", evens)
print("The number of odd numbers :", odds)

The number of even numbers : 3
The number of odd numbers : 4

In [26]:
list1 = [11, 2, 24, 61, 48, 33, 3]
evens = 0
odds = 0

for i in list1:
    if not i % 2:
        evens += 1
    else:
        odds += 1 
print("The number of even numbers :", evens)
print("The number of odd numbers :", odds)

The number of even numbers : 4
The number of odd numbers : 3

In [27]:
list1 = [11, 2, 24, 61, 48, 33, 3]
evens = 0
odds = 0

for i in list1:
    if i % 2:
        odds += 1
    else:
        evens += 1 
print("The number of even numbers :", evens)
print("The number of odd numbers :", odds)

The number of even numbers : 3
The number of odd numbers : 4

In [29]:
for i in range(1, 10):
    print(i * str(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
for i in range(1, 10):
    print((i * str(i)) + (i * str(i)))

In [34]:
total = 0

for i in range(1, 75):
    total +=  i
print(total)

2775

In [35]:

a=[]
for i in range(1,75):
    a.append(i)
print(sum(a))

2775

In [36]:
who = ["I am ", "You are "]
mood = ["happy", "confident"]

for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [3]:
def first_function(argument_1, argument_2) :
    print(argument_1**2 + argument_2**2)

In [4]:
first_function(2, 3)  # here, the values (2 and 3) are allocated to the argumentsfirst_function(2, 3)  # here, the values (2 and 3) are allocated to the arguments

13

In [5]:
def multiply(a, b) :
    print(a * b)

multiply(3, 5)
multiply(-1, 2.5)
multiply('amazing ', 3)  # it's really amazing, right?

15
-2.5
amazing amazing amazing

In [6]:
def motto() :
    print("Don't hesitate to reinvent yourself!")

motto()  # it takes no argument

Don't hesitate to reinvent yourself!

In [15]:
def my_function(a, b):
    area = a * b
    print(area)

my_function(3, 4)

12

In [17]:
def multiply_1(a, b) :
    print(a * b)  # it prints something

def multiply_2(a, b) :
    return a * b  # returns any numeric data type value

multiply_1(10, 5)
print(multiply_2(10, 5))

50
50

In [18]:
print(type(multiply_1(10, 2)))
print(type(multiply_2(10, 5)))

20
<class 'NoneType'>
<class 'int'>

In [19]:
shadow_var = print("It can't be assigned to any variable")
print(shadow_var)  # NoneType value can't be used

It can't be assigned to any variable
None

In [24]:
import datetime

def print_time():
    print("task completed")
    print(datetime.datetime.now())
    print()

In [25]:
first_name = "Kendx"
print_time()

task completed
2020-07-10 02:18:57.767510

In [26]:
for x in range(0, 10):
    print(x)
print_time()

0
1
2
3
4
5
6
7
8
9
task completed
2020-07-10 02:20:04.278828

In [27]:
from datetime import datetime

def print_time():
    print("task comleted")
    print(datetime.now())
    print()

In [28]:
first_name = "Kendx"
print("first name assigned")
print(datetime.now())

first name assigned
2020-07-10 02:24:00.714761

In [29]:
for x in range(0, 10):
    print(x)
print("loop comleted")
print(datetime.now())
print()

0
1
2
3
4
5
6
7
8
9
loop comleted
2020-07-10 02:25:43.792532

In [30]:
def print_time(task_name):
    print(task_name)
    print(datetime.now())
    print()

first_name = "Kendx"
print_time("first name assigned")

for x in range(0, 10):
    print(x)
print_time("loop completed")

first name assigned
2020-07-10 02:28:48.526607

0
1
2
3
4
5
6
7
8
9
loop completed
2020-07-10 02:28:48.526607

In [34]:
first_name = input("Enter your first name: ").capitalize()
first_name_initial = first_name[0:1]
last_name = input("Enter your last name: ").capitalize()
first_name_initial = first_name[0:1]
last_name_initial = last_name[0:1]


print("Your initial are: " + first_name_initial + last_name_initial)

Your initial are: KD

In [36]:
def get_initial(name):
    initial = name[0:1]
    return initial

first_name = input("Enter your first name: ").upper()
first_name_initial = get_initial(first_name)
last_name = input("Enter your last name: ").upper()
last_name_initial = get_initial(last_name)

print("Your initial are: " + first_name_initial + last_name_initial)

Your initial are: KD

In [1]:
def who(first, last) :  # 'first' and 'last' are the parameters(or variables)
    print('Your first name is :', first)
    print('Your last name is :', last)

who('Guido', 'van Rossum')  # 'Guido' and 'van Rossum' are the arguments
print()
who('Marry', 'Bold')  # 'Marry' and 'Bold' are also the arguments

Your first name is : Guido
Your last name is : van Rossum

Your first name is : Marry
Your last name is : Bold

In [2]:
who('Joseph')  # we passed only one argument into the function

TypeError: who() missing 1 required positional argument: 'last'

In [3]:
def pos_args(a, b):
    print(a, 'is the first argument')
    print(b, 'is the second argument')

pos_args(3,4)
print()
pos_args(4,3)

3 is the first argument
4 is the second argument

4 is the first argument
3 is the second argument

In [4]:
pos_args('first','second')
print()
pos_args('second', 'first')

first is the first argument
second is the second argument

second is the first argument
first is the second argument

In [5]:
def who(first, last) :  # same structure as the previous one
    print('Your first name is :', first)
    print('Your last name is :', last)

who(first='Guido', last='van Rossum')  # calling the function is different
# we used kwargs to pass the values into the function

Your first name is : Guido
Your last name is : van Rossum

In [6]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [7]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments 
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [11]:
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-11-2ac707ad11c1>, line 2)

In [12]:
def function(a):
    pass  # actually, 'pass' does nothing. it just moves to the next line of code

function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [13]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs
city('Cape Town', 'Africa')  # we can change the default value by positional args.

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa

In [14]:
def fruiterer(fruit1, fruit2) :
    print('I want to get', fruit1, 'and', fruit2)
        
fruiterer('orange', 'banana')

I want to get orange and banana

In [15]:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [16]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
 üí°Tips:

    Traditionally, people in the world of computer programming use *args for the arbitrary number of positional arguments and **kwargs for the arbitrary number of keyword arguments.

In [17]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [18]:
def gene(x, y):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [19]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [ ]:
def a_function(pos1, pos2, /, pos_or_kwarg, *, kwarg1, kwarg2, **kwargs) :

In [21]:
def get_initial(name, force_uppercase):
    if force_uppercase:
        initial = name[0:1].upper()
    else:
        initial = name[0:1]
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(first_name, False)

print("Your initial are: " + first_name_initial)

Your initial are: k

In [22]:
def get_initial(name, force_uppercase = True):
    if force_uppercase:
        initial = name[0:1].upper()
    else:
        initial = name[0:1]
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(first_name)

print("Your initial are: " + first_name_initial)

Your initial are: K

In [23]:
def get_initial(name, force_uppercase):
    if force_uppercase:
        initial = name[0:1].upper()
    else:
        initial = name[0:1]
    return initial

first_name = input("Enter your first name: ")
first_name_initial = get_initial(force_uppercase=True, name=first_name)

print("Your initial are: " + first_name_initial)

Your initial are: K

In [24]:
def error_logger(error_code, error_severity, log_to_db, error_message, source_module):
    print("oh no error: " + error_message)
    # Imagine code here that logs ourt error to a database or file

first_number = 10
second_number = 5
if first_number > second_number:
    error_logger(error_code=45, error_severity=1, log_to_db=True, \
        error_message="Second number greater than first", source_module="my_math_methos")

oh no error: Second number greater than first

In [ ]:
number = int(input("sayƒ±yƒ± giriniz :"))
liste = []
a = 1
b = 0
while (a < number):
     c = b
     b = a
     a = c + b
     liste.append(a)
print(liste)

In [ ]:
number = int(input("sayƒ±yƒ± giriniz :"))
liste = []
a = 1
b = 0
for i in range(1, number+1):
     c = b
     b = a
     a = c + b
     liste.append(a)
print(liste)

In [1]:
# Return True if bool(x) is True for all values x in the iterable.Return True if bool(x) is True for all values x in the iterable.
names = ["susan", "tom", "False"]
mood = ["happy", "sad", 0]
empty = {}

print(all(names), all(mood), all(empty), sep="\n")

True
False
True

In [3]:
# Return True if any element of the iterable is true. If the iterable is empty, return False.Return True if any element of the iterable is true. If the iterable is empty, return False.
names = ["susan", "tom", False]
mood = [None, (), 0]
empty = {}

print(any(names), any(mood), any(empty), sep="\n")

True
False
False

In [4]:
""" Construct an iterator from those elements of iterable for which function returns true. iterable may be either a sequence, a container which supports iteration, or an iterator. If function is None, the identity function is assumed, that is, all elements of iterable that are false are removed.Construct an iterator from those elements of iterable for which function returns true. iterable may be either a sequence, a container which supports iteration, or an iterator. If function is "None", the identity function is assumed, that is, all elements of iterable that are false are removed. """

listA = ["susan", "tom", False, 0, "0"]

filtered_list = filter(None, listA)

print("The filtered elements are : ")
for i in filtered_list:
    print(i)

The filtered elements are :
susan
tom
0

In [10]:
grocery = ["bread", "water", "olive"]
enum_grocery = print(list(enumerate(grocery, 10)))
# enumerate(grocery, 10)
#enum_grocery

[(10, 'bread'), (11, 'water'), (12, 'olive')]

In [11]:
grocery = ["bread", "water", "olive"]
enum_grocery = enumerate(grocery, 10)
for i in enum_grocery:
    print(i)

(10, 'bread')
(11, 'water')
(12, 'olive')

In [13]:
grocery = ["bread", "water", "olive"]
enum_grocery = enumerate(grocery)
enum_grocery1 = enumerate(grocery, 10)

print(dict(enum_grocery))
print(dict(enum_grocery1))

{0: 'bread', 1: 'water', 2: 'olive'}
{10: 'bread', 11: 'water', 12: 'olive'}

In [15]:
number = [-222, 0, 16, 5, 10, 6]
largest_number = max(number)
smallest_number = min(number)

print(largest_number)
print(smallest_number)

16
-222

In [14]:
numbers = [2.5, 30, 4, -15]
numbers_sum = sum(numbers)
print(numbers_sum)

numbers_sum = sum(numbers, 20)
print(numbers_sum)

21.5
41.5

In [16]:
print(round(12))
print(round(10.8))
print(round(3.665, 2))
print(round(3.675, 2))

12
11
3.67
3.67

In [17]:
def first_function(a, b):
    print(a ** 2 + b ** 2)

In [19]:
first_function(5, 8)
print(type(first_function(5, 8)))

89
89
<class 'NoneType'>

In [20]:
def add(a, b):
    print(a + b)

In [21]:
add(-5, 5)

0

In [24]:
def calculator(a, b, opr):
    if opr == "+":
        print(a + b)
    elif opr == "-":
        print(a - b)
    elif opr == "*":
        print(a * b)
    elif opr == "/":
        print(a / b)
    else:
        print("enter valid argument")

In [26]:
calculator(5, 6, "/")

0.8333333333333334

In [27]:
calculator(5, 6, "5")

enter valid argument

In [28]:
def carma(a, b):
    x = a * b
    y = a + b
    z = a / b
    return y

In [30]:
print(carma(5, 7))

12

In [39]:
def multiply1(a, b):
    print(a * b)

In [38]:
def multiply2(a, b):
    return(a * b)

In [34]:
print(multiply2(10, 5))

50

In [40]:
print(type(multiply1(10, 5)))
print(type(multiply2(10, 5)))

50
<class 'NoneType'>
<class 'int'>

In [41]:
def sum(a, b):
    return(a + b)

In [42]:
sum(5, 8)

13

In [43]:
new = sum(5, 8)

In [45]:
print(new)

13

In [46]:
def multi1(a, b):
    print(a * b)

In [47]:
multi1(5, 7)

35

In [48]:
new2 = multi1(5, 7)  # not assign a varriable only call funct

35

In [49]:
print(new2)

None

In [50]:
def calculator(a, b, opr):
    if opr == "+":
        return(a + b)
    elif opr == "-":
        return(a - b)
    elif opr == "*":
        return(a * b)
    elif opr == "/":
        return(a / b)
    else:
        return("enter valid argument")

In [52]:
type(calculator(5, 6, "*"))

int

In [53]:
calculator(5, 6, "5")

'enter valid argument'

In [54]:
def carptop(a, b):
    return(a + b)
    return(a * b)

In [55]:
carptop(2, 5)

7

In [ ]:
def absolute_value(a):
    ‚Äú‚Äù"This function returns the absolute number‚Äù‚Äú‚Äù
    if a < 0:
        return -a
    else:
        return adef absolute_value(a):

In [61]:
absolute_value(10)

10

In [4]:
def absolute_value(number):
    """This function returns the absolute value of the entered number"""
    return -number if number < 0 else number

In [3]:
print(absolute_value.__doc__)

NameError: name 'absolute_value' is not defined

In [5]:
absolute_value(-5)

5

In [6]:
absolute_value(5)

5

In [7]:
def absolute_value(number):
    """This function returns the absolute value of the entered number"""
    return -number if number < 0 else number

In [8]:
print(absolute_value.__doc__)

This function returns the absolute value of the entered number

In [70]:
absolute_value(5)

5

In [71]:
absolute_value(-5)

5

In [9]:
absolute_value(-5)

5

In [1]:
my_var = 'outer variable'

def func_var(): 
	my_var= 'inner variable'
	print(my_var) 

func_var() 
print(my_var)

inner variable
outer variable

In [2]:
""" QUESTION:
Please reverse the text below without using text index methods. Please use a loop.
text = ‚ÄúClarusway‚Äù
ANSWER:"""
text = "Clarusway"
newtext = ""
for i in range(len(text)-1, -1, -1):
   newtext += text[i]
print(newtext)

yawsuralC

In [4]:
round(4.55, 1)

4.5

In [5]:
round(4.45, 1)

4.5

In [10]:
def texter(t1, t2, t3):
    print(f"{t2} {t3} {t1}")
a = "i"
b = "love"
c = "you"
texter(c, a, b)

i love you

In [14]:
def slicer(*num):
even = []
odd = []

for i in num:
    if i % 2 == 0:
        even.append()
    else:
        odd.append()

print("even list", even)
print("odd list", odd)

IndentationError: expected an indented block (<ipython-input-14-69f2424e8db1>, line 2)

In [21]:
def slicer(*num):
    even = []
    odd = []

    for i in num:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)

    print("even list", even)
    print("odd list", odd)

In [22]:
slicer(1, 2, 3, 4, 5, 6, 7, 8, 9)

even list [2, 4, 6, 8]
odd list [1, 3, 5, 7, 9]

In [25]:

def slicer1(*num):
    even = [i for i in num if i%2==0]
    odd = [j for j in num if j%2!=0]

    print("even list", even)
    print("odd list", odd)

In [26]:
slicer1(1, 2, 3, 4, 5, 6, 7, 8, 9)

even list [2, 4, 6, 8]
odd list [1, 3, 5, 7, 9]

In [28]:
def organizer(**org):
    name = []
    age = []
    for i, j in org.items():
        name.append(i)
        age.append(j)
    print(name)
    print(age)

In [29]:
organizer(kenan=38, ay≈üeg√ºl=32, kerem=4)

['kenan', 'ay≈üeg√ºl', 'kerem']
[38, 32, 4]

In [30]:
def organizer(**people):
    names=[key for key in people.keys() ]
    ages=[value for value in people.values()]
    print('names:',names)
    print('ages:',ages)

In [3]:
def merger(par1, par2, par3, par4):
    print(f"For me, {par1} {par4} and {par3} {par2} are genius.")

genius = ("Bill", "von Rossum", "Guido", "Gates")
merger(*genius)

In [4]:
genius = ("Bill", "von Rossum", "Guido", "Gates")
merger(*genius)

For me, Bill Gates and Guido von Rossum are genius.

In [10]:
def meaner(ken, mark, bill, elon):
    print("Avg age is ", ((ken+mark+bill+elon)/4))

friend = {"ken": 25, "mark":35, "bill":65, "elon":41}
meaner(**friend)

Avg age is  41.5

In [11]:
print(0xA + 0xB + 0xC)

33

In [13]:
print("new" "line" "end", 3)

newlineend 3

In [14]:
my_var = 'outer variable'

def func_var(): 
	my_var= 'inner variable'
	print(my_var) 

func_var() 
print(my_var)

inner variable
outer variable

In [15]:
text = "I am the global one"
 
def global_func():
    print(text)  # we can use 'text' in a function
                 # because it's a global variable

global_func()  # 'I am the global one' will be printed
print(text)  # it can also be printed outside of the function
 
text = "The globals are valid everywhere "
 
global_func()  # we changed the value of 'text'
# 'The globals are valid everywhere' will be printed
 
def local_func():
    local_text = "I am the local one"
    print(local_text)  # local_text is a local variable

local_func()  # 'I am the local one' will be printed as expected
 
print(local_text)  # NameError will be raised
# because we can't use local variable outside of its function

I am the global one
I am the global one
The globals are valid everywhere
I am the local one

NameError: name 'local_text' is not defined

In [16]:
variable = "global"

def func_outer():
    variable = "enclosing outer local"
    def func_inner():
        variable = "enclosing inner local"
        def func_local():
            variable = "local"
            print(variable)
        func_local()
    func_inner()
 
func_outer()  # prints 'local' defined in the innermost function
print(variable)  # 'global' level variable holds its value

local
global

In [17]:
count = 1

def print_global():
    print(count)
 
print_global()
 
def counter():
    print(count)
    count += 1  # we're trying to change its value
 
print()  # just empty line
counter()

1

UnboundLocalError: local variable 'count' referenced before assignment

In [18]:
def enclosing_func1():
    x = 'outer variable'
    def enclosing_func2():
        nonlocal x  # its inner-value can be used in the outer scope
        x = 'inner variable'
        print("inner:", x)
    enclosing_func2()
    print("outer:", x)

enclosing_func1()

inner: inner variable
outer: inner variable

In [7]:
x = 10
  
def my_function():  # fix me!
    global x
    x += 5 
    print(x)

my_function()

15

In [3]:
def myfunc1():
  x = "hi"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2() 
  return x

print(myfunc1())

hello

In [4]:
x = 10
def my_function_1(): 
    x = 20 
    print(x)
my_function_1()

20

In [6]:
y = 10  
def my_function_2(): 
    y += 5 
    print(y)
my_function_2()

UnboundLocalError: local variable 'y' referenced before assignment

In [8]:
def square()
    return x**2

SyntaxError: invalid syntax (<ipython-input-8-986e83e72c1b>, line 1)

In [9]:
lambda x: x**2

In [10]:

lambda x, y: (x+y)/2  # takes two numbers, returns the result

In [11]:
lambda x: 'odd' if x%2!=0 else 'even'

In [12]:
(lambda x: x**2)(2)  # squares '2'

4

In [13]:
print((lambda x, y: (x+y)/2)(3, 5))  # takes two int, returns mean of them

4.0

In [14]:
average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

4.0

In [15]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [16]:
def square(n):   # at least two additional lines of code
    return n**2  
  
iterable = [1, 2, 3, 4, 5]
result = map(square, iterable) 
print(list(result))

[1, 4, 9, 16, 25]

In [17]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [18]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [19]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [25]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x: x >= 6, number_list))
print(result)

[6, 7, 8, 9, 10]

In [26]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [1]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('Merhaba '))
print(repeat_3_times('Hi '))
print(repeat_4_times('Selam '))

Merhaba Merhaba
Hi Hi Hi
Selam Selam Selam Selam

In [2]:
def mod_function(n):
    return lambda x : x ** n
print((mod_function(2))(3))

9

In [4]:
def functioner(emoji):
    return lambda message : print(message, emoji)

myPrint_smile = functioner(":)")
myPrint_sad = functioner(":(")
myPrint_neutral = functioner(":|")

myPrint_smile("Hello")
myPrint_sad("Hello")
myPrint_neutral("Hello")

Hello :)
Hello :(
Hello :|

In [28]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [5]:
def func_generator(x):
    return lambda x: function(x)

my_print = func_generator(print)
my_max = func_generator(max)
my_bool = func_generator(bool)
my_sorted = func_generator(sorted)

In [6]:
(lambda x : print(x))("kenan")

kenan

In [7]:
(lambda x : max(x))([2,5,7,11,25])

25

In [11]:
def equal(a, b, c):
    numbers = [a,b,c]
    result = numbers.count(max(numbers, key=numbers.count))
    return result if result > 1 else 0

equal(2,1,2)
equal(1,2,3)

0

In [14]:
equall = lambda x, y, z: ([x,y,z].count(max([x,y,z], key=[x,y,z].count))) if ([x,y,z].count(max([x,y,z], key=[x,y,z].count))) > 1 else 0
equall(1,5,5)

2

In [29]:
print((lambda x: x ** 3)(5))

125

In [30]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [31]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [40]:
def sum_double(x, y):
    return lambda x, y: x + y

print(sum_double(1, 2))

<function sum_double.<locals>.<lambda> at 0x7f629fb89cb0>

In [39]:
def sum_double(x, y):
    return lambda x, y: (x+y)*2 if x == y else x+y

print(sum_double(1, 2))

<function sum_double.<locals>.<lambda> at 0x7f62b07edf80>

In [41]:
def sum_double(x, y):
    if x == y:
        return (x + y) * 2
    else:
        return (x + y)

print(sum_double(1, 2))

3

In [36]:
def parrot_trouble(talking, hour):

    if hour in range(1, 24):
        if 20 < hour < 24 or 6 > hour > 0:
            check = True
            if check == talking:
                return True
            else:
                return False
        else:
            check = False
            if check != talking:
                return False
            else:
                return True
    else:
        return print("Check your entry !!!")

In [37]:
print(parrot_trouble(True, 5))

True

In [38]:
print(parrot_trouble(True, 8))

False

In [39]:
print(parrot_trouble(False, 22))

False

In [40]:
def scope_test():
    def do_local():
        spam = "local spam"
    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"
    def do_global():
        global spam
        spam = "global spam"
    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)
scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [42]:
x = 0

def a():
    x = 5
    print(x)

def 
print(x)

5
0

In [ ]:
def a():
    x = 5
    print(x)

a()
def a():
    x = 5
    print(x)

a()
print(x)

In [ ]:
def a():
    x = 5
    print(x)

a()
print(x)

In [44]:
var = 1

def assigner(a):
    global var
    var = a
    print(var)

assigner("one")
print(var)

one
one

In [46]:
def assigner(a):
    nonlocal var
    var = a
    print(var)

assigner("one")
print(var)

SyntaxError: no binding for nonlocal 'var' found (<ipython-input-46-870cc89ca885>, line 2)

In [47]:
def assigner(a):
    global var = a
    print(var)

assigner("one")
print(var)

SyntaxError: invalid syntax (<ipython-input-47-77e7f439ce86>, line 2)

In [49]:
print((lambda x: x[::-1])("clarusway"))

yawsuralc

In [51]:
number = [1, 2, 3, 4, 5]
even_odd = (lambda x: for i in number "x[i] : odd" if x%2 == 0 else "x[i] : even"))(number)
print(even_odd)

SyntaxError: invalid syntax (<ipython-input-51-b01695d02a80>, line 2)

In [ ]:
map(lambda x : 'even' if x % 2 == 0 else 'odd')

In [57]:
my_list = [1, 2, 3, 4]
for i in my_list:
    print(i, ":", (lambda a: "odd" if a % 2 != 0 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even

In [60]:
my_list = [2, 3, 4, 5]
for i in my_list:
    status = lambda x : "odd" if x%2 else "even"
    print(i,":", status(i))

2 : even
3 : odd
4 : even
5 : odd

list = [1,2,3,4,5,6,7,8,9]
odd = []
even = []
for x in list:
    (lambda x:even.append(x) if x % 2 == 0 else odd.append(x))(x)
print(odd)
print(even)

In [1]:
import my_module  # we've loaded my_module

my_module.my_function()  # we've called a function defined in my_module

print(my_module.my_variable)  # we've accessed a variable defined in my_module

ModuleNotFoundError: No module named 'my_module'

In [2]:
import my_module as mym # loads my_module, we give a nickname to it

mym.my_function()  # we can use it the same way

print(mym.my_variable)

ModuleNotFoundError: No module named 'my_module'

In [ ]:
from my_module import my_function  # we've loaded only my_function from my_module

my_function()  # my_function can be used directly now at the current module

In [ ]:
import module_1
import module_2
import module_3

# The code stream of the current module starts here

In [3]:
import math

print(dir(math))  # you can find out all names defined in this module

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
from math import pi, factorial, log10  # we'll use the functions directly

print(pi)  # it also contains several arithmetic constants
print(factorial(4))  # gives the value of 4!
print(log10(1000))  # prints the common logarithm of 1000

3.141592653589793
24
3.0

In [4]:
import string as stg  # we've used alias for 'string' module

print(stg.punctuation)  # prints all available punctuation marks
print(stg.digits)  # prints all the digits

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

In [1]:
import datetime

print(datetime.date.today())  # prints today's date (yyyy-mm-dd)
print(datetime.datetime.now())  # prints the current time in microseconds

2020-07-19
2020-07-19 18:35:55.333602

In [2]:
from random import choice

city = ['Stockholm', 'Istanbul', 'Seul', 'Cape Town']
print(choice(city))

Seul

In [5]:
from datetime import date

birth = date(571, 4, 22)
dead = date(632, 6, 8)

date.toordinal(dead) - date.toordinal(birth)

22327

In [6]:
print(dead - birth)

22327 days, 0:00:00

In [5]:
def factor(x):

    result = 1
    for i in range(x):
        result *= (i+1)
    return print(result)

In [6]:
average = (lambda x:x**2)(3)

In [7]:
print(average)

9

In [8]:
average = (lambda x:x**2)
print(average(5))

25

In [9]:
average = lambda x, y: (x + y) / 2
print(average(5, 7))

6.0

In [12]:
a = "clarusway"
reverse = lambda x: x[::-1] 
print(reverse(a))

yawsuralc

In [21]:
def map_func(x):
    return x ** 2

a = [1,2,3,4,5]

result = map(map_func, a)

print(list(result))
print(set(result))
print(tuple(result))

[1, 4, 9, 16, 25]
set()
()

In [22]:
nums1 = [9,6,7,4]
nums2 = [3,6,5,8]
average = map(lambda x, y: (x + y) / 2, nums1, nums2) 
print(list(average))

[6.0, 6.0, 6.0, 6.0]

In [40]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

sentence = map(lambda x, y, z: x + " " + y + " " + z, words2, words3, words1)

print(list(sentence))

['i love you', 'you ate much', 'he works hard']

In [43]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

sentence = map(lambda x, y, z: x + " " + y + " " + z, words2, words3, words1)

for i in sentence:
    print(i)

i love you
you ate much
he works hard

In [47]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

a = filter(lambda x: len(x) < 5, words)

for i in a:
    print(i)

swim
me
kiwi

In [48]:
def a(x):
    return len(x)<5

In [49]:
for i in filter(a, words):
    print(i)

swim
me
kiwi

In [52]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

for i in filter(lambda x: len(x) >= 5, words):
    print(i)

apple
clock
banana

In [ ]:
Define a function with 'arbitrary numbers of arguments' method named as ‚Äòspec_opr(*numbers)‚Äô . This function sums all of the arguments after a process. This process is even numbers should be divided by 2 and odd numbers should be multiplied with 3 first and then added to the total sum.
Examples:
spec_opr(3, 2, 6) should return 13,
spec_opr(58, 53, 10, -10, -40, -28, 8, 34, 70, -16, 33) should return 301,
spec_opr(93, 12, 5, 84, -22) should return 331

In [ ]:
num_list = []

def spec_opr(*numbers):
    for i in list(numbers):
        if i % 2 == 0:
            i /= 2
            num_list.append(i)
        else:
            i *= 3 
            num_list.append(i)
    print(int(sum(num_list)))

In [1]:
def spec_opr(*numbers):
   total = 0
   for number in numbers:
       if number % 2 == 0:
           total += number/2
       else:
           total += number*3
   return int(total)

In [12]:
num = [22,33,55,88,2,3,9]

even = filter(lambda x: x%2 == 0, num)
odd = filter(lambda x: x%2 != 0, num)

print(list(even))
print(list(odd))

[22, 88, 2]
[33, 55, 3, 9]

In [17]:
from upper_package.my_package import my_module1

In [19]:
my_module1.hello()

Hello

In [16]:
pwd

'/media/kendx/PenTest/clarusway/00 - Coding/_coding/python/Jupyter'

In [23]:
import upper_package

In [24]:
dir(upper_package)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'my_package']

In [26]:
from upper_package.my_package.my_module1 import hello

In [27]:
hello()

Hello

In [31]:
print(my_module1.__doc__)

This is module 1. Welcome

In [32]:
import math

In [33]:
print(math.__doc__)

This module provides access to the mathematical functions
defined by the C standard.

In [34]:
pip list

Package                            Version
---------------------------------- -------------------
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.12
anaconda-project                   0.8.3
argh                               0.26.2
asn1crypto                         1.3.0
astroid                            2.3.3
astropy                            4.0
atomicwrites                       1.3.0
attrs                              19.3.0
autopep8                           1.5.3
Babel                              2.8.0
backcall                           0.1.0
backports.functools-lru-cache      1.6.1
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
beautifulsoup4                     4.8.2
bitarray                           1.2.1
bkcharts                           0.2
bleach                             3.1.0
bokeh                              1.4.0
boto                               2.49.0
Bottleneck                         1.3.2
certifi                            2019.11.28
cffi                               1.14.0
chardet                            3.0.4
Click                              7.0
cloudpickle                        1.3.0
clyent                             1.2.2
colorama                           0.4.3
conda                              4.8.2
conda-build                        3.18.11
conda-package-handling             1.6.0
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cryptography                       2.8
cycler                             0.10.0
Cython                             0.29.15
cytoolz                            0.10.1
dask                               2.11.0
decorator                          4.4.1
defusedxml                         0.6.0
diff-match-patch                   20181111
distributed                        2.11.0
docutils                           0.16
entrypoints                        0.3
et-xmlfile                         1.0.1
fastcache                          1.1.0
filelock                           3.0.12
flake8                             3.7.9
Flask                              1.1.1
fsspec                             0.6.2
future                             0.18.2
gevent                             1.4.0
glob2                              0.7
gmpy2                              2.0.8
greenlet                           0.4.15
h5py                               2.10.0
HeapDict                           1.0.1
html5lib                           1.0.1
hypothesis                         5.5.4
idna                               2.8
imageio                            2.6.1
imagesize                          1.2.0
importlib-metadata                 1.5.0
intervaltree                       3.0.2
ipykernel                          5.1.4
ipython                            7.12.0
ipython-genutils                   0.2.0
ipywidgets                         7.5.1
isort                              4.3.21
itsdangerous                       1.1.0
jdcal                              1.4.1
jedi                               0.14.1
jeepney                            0.4.2
Jinja2                             2.11.1
joblib                             0.14.1
json5                              0.9.1
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     5.3.4
jupyter-console                    6.1.0
jupyter-core                       4.6.1
jupyterlab                         1.2.6
jupyterlab-server                  1.0.6
keyring                            21.1.0
kiwisolver                         1.1.0
lazy-object-proxy                  1.4.3
libarchive-c                       2.8
lief                               0.9.0
llvmlite                           0.31.0
locket                             0.2.0
lxml                               4.5.0
MarkupSafe                         1.1.1
matplotlib                         3.1.3
mccabe                             0.6.1
mistune                            0.8.4
mkl-fft                            1.0.15
mkl-random                         1.1.0
mkl-service                        2.3.0
mock                               4.0.1
more-itertools                     8.2.0
mpmath                             1.1.0
msgpack                            0.6.1
multipledispatch                   0.6.0
navigator-updater                  0.2.1
nbconvert                          5.6.1
nbformat                           5.0.4
networkx                           2.4
nltk                               3.4.5
nose                               1.3.7
notebook                           6.0.3
numba                              0.48.0
numexpr                            2.7.1
numpy                              1.18.1
numpydoc                           0.9.2
olefile                            0.46
openpyxl                           3.0.3
packaging                          20.1
pandas                             1.0.1
pandocfilters                      1.4.2
parso                              0.5.2
partd                              1.1.0
path                               13.1.0
pathlib2                           2.3.5
pathtools                          0.1.2
patsy                              0.5.1
pep8                               1.7.1
pexpect                            4.8.0
pickleshare                        0.7.5
Pillow                             7.0.0
pip                                20.0.2
pkginfo                            1.5.0.1
pluggy                             0.13.1
ply                                3.11
prometheus-client                  0.7.1
prompt-toolkit                     3.0.3
psutil                             5.6.7
ptyprocess                         0.6.0
py                                 1.8.1
pycodestyle                        2.6.0
pycosat                            0.6.3
pycparser                          2.19
pycrypto                           2.6.1
pycurl                             7.43.0.5
pydocstyle                         4.0.1
pyflakes                           2.1.1
Pygments                           2.5.2
pylint                             2.4.4
pyodbc                             4.0.0-unsupported
pyOpenSSL                          19.1.0
pyparsing                          2.4.6
pyrsistent                         0.15.7
PySocks                            1.7.1
pytest                             5.3.5
pytest-arraydiff                   0.3
pytest-astropy                     0.8.0
pytest-astropy-header              0.1.2
pytest-doctestplus                 0.5.0
pytest-openfiles                   0.4.0
pytest-remotedata                  0.3.2
python-dateutil                    2.8.1
python-jsonrpc-server              0.3.4
python-language-server             0.31.7
pytz                               2019.3
PyWavelets                         1.1.1
pyxdg                              0.26
PyYAML                             5.3
pyzmq                              18.1.1
QDarkStyle                         2.8
QtAwesome                          0.6.1
qtconsole                          4.6.0
QtPy                               1.9.0
requests                           2.22.0
rope                               0.16.0
Rtree                              0.9.3
ruamel-yaml                        0.15.87
scikit-image                       0.16.2
scikit-learn                       0.22.1
scipy                              1.4.1
seaborn                            0.10.0
SecretStorage                      3.1.2
Send2Trash                         1.5.0
setuptools                         45.2.0.post20200210
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
six                                1.14.0
snowballstemmer                    2.0.0
sortedcollections                  1.1.2
sortedcontainers                   2.1.0
soupsieve                          1.9.5
Sphinx                             2.4.0
sphinxcontrib-applehelp            1.0.1
sphinxcontrib-devhelp              1.0.1
sphinxcontrib-htmlhelp             1.0.2
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.2
sphinxcontrib-serializinghtml      1.1.3
sphinxcontrib-websupport           1.2.0
spyder                             4.0.1
spyder-kernels                     1.8.1
SQLAlchemy                         1.3.13
statsmodels                        0.11.0
sympy                              1.5.1
tables                             3.6.1
tblib                              1.6.0
terminado                          0.8.3
testpath                           0.4.4
toml                               0.10.1
toolz                              0.10.0
tornado                            6.0.3
tqdm                               4.42.1
traitlets                          4.3.3
ujson                              1.35
unicodecsv                         0.14.1
urllib3                            1.25.8
watchdog                           0.10.2
wcwidth                            0.1.8
webencodings                       0.5.1
Werkzeug                           1.0.0
wheel                              0.34.2
widgetsnbextension                 3.5.1
wrapt                              1.11.2
wurlitzer                          2.0.0
xlrd                               1.2.0
XlsxWriter                         1.2.7
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.28.0
zict                               1.0.0
zipp                               2.2.0
Note: you may need to restart the kernel to use updated packages.

In [35]:
pip show Cython

Name: Cython
Version: 0.29.15
Summary: The Cython compiler for writing C extensions for the Python language.
Home-page: http://cython.org/
Author: Robert Bradshaw, Stefan Behnel, Dag Seljebotn, Greg Ewing, et al.
Author-email: cython-devel@python.org
License: Apache
Location: /home/kendx/anaconda3/lib/python3.7/site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [36]:
pwd

'/media/kendx/PenTest/clarusway/00 - Coding/_coding/python/Jupyter'

In [37]:
my_file = open("ff.txt")

print(type(my_file))

FileNotFoundError: [Errno 2] No such file or directory: 'ff.txt'

In [39]:
sea = open("fishes.txt", "r")

print(sea.read())

sea.close()

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [42]:
sea = open("fishes.txt", "r")

print(sea.read(35))
print(sea.read(24))

sea.close()

Orca is a kind of Dolphin.
Blue Wha
le is the largest animal

In [45]:
sea = open("fishes.txt", "r")

print(sea.read(35))
sea.seek(0)
print(sea.read(25))
print(sea.tell())

Orca is a kind of Dolphin.
Blue Wha
Orca is a kind of Dolphin
25

In [49]:
sea = open(file = "fishes.txt", mode = "r", encoding = "utf-8")

print(sea.read(35))
sea.seek(0)
print(sea.read(25))
print(sea.tell())

Orca is a kind of Dolphin.
Blue Wha
Orca is a kind of Dolphin
25

In [51]:
rumi = open("rumi.txt")

print(rumi.read())

rumi.close()

I want to sing
Like the birds sing,
Not worrying about
Who hears or
What they think.

In [63]:
rumi = open("rumi.txt")

print(rumi.read(35))
print(rumi.read(13))
rumi.seek(16)
print(rumi.read(20))
print(rumi.tell())

rumi.close()

I want to sing
Like the birds sing,

Not worrying
ike the birds sing,

36

In [1]:
sea = open("fishes.txt", "r")

print(sea.readline())

Orca is a kind of Dolphin.

In [3]:
sea = open("fishes.txt", "r")

print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))

Orca is a kin
d of Dolphin.


Blue Whale is

In [4]:
rumi = open("rumi.txt", "r")

print(rumi.readline())
print(rumi.readline())
print(rumi.readline(7))
print(rumi.readline(10))

I want to sing

Like the birds sing,

Not wor
rying abou

In [5]:
rumi = open("rumi.txt", "r")

print(rumi.readline())
print(rumi.readlines())

I want to sing

['Like the birds sing,\n', 'Not worrying about\n', 'Who hears or\n', 'What they think.']

In [6]:
sea = open("fishes.txt", "r")

print(type(sea.readlines()))

<class 'list'>

In [9]:
rumi = open("rumi.txt")

print(rumi.readlines())

rumi.close()

['I want to sing\n', 'Like the birds sing,\n', 'Not worrying about\n', 'Who hears or\n', 'What they think.']

In [10]:
sea = open("fishes.txt")

for line in sea:
    print(line)

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [15]:
sea = open("fishes.txt")

for line in sea:
    print(str(line), end="")

sea.close()

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [20]:
with open("fishes.txt") as t:
    print(t.readline())
    print(t.read())
    print(t.readlines())

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.
[]

In [32]:
with open("dummy.txt", "w", encoding = "utf-8") as f:
    print(f.write("bu benim ilk satƒ±rƒ±m.\n"))

22

In [22]:
pwd

'/media/kendx/PenTest/clarusway/00 - Coding/_coding/python/Jupyter'

In [23]:
with open("dummy.txt") as f:
    print(f.read())

bu benim ilk satƒ±rƒ±m

In [38]:
with open("dummy.txt", "a", encoding = "utf-8") as f:
    print(f.write("bu da benim ikinci satƒ±rƒ±m."))

27

In [41]:
with open("dummy.txt") as f:
    print(f.read())

bu benim ilk satƒ±rƒ±m.
bu da benim ikinci satƒ±rƒ±m.

In [50]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']

with open("fruits.txt", "w", encoding="utf-8") as f:
    for basket in fruits:
        f.write(basket + "\n")
        print(basket.read())

AttributeError: 'str' object has no attribute 'read'

In [51]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']
with open("fruits.txt", 'w', encoding="utf-8") as file:
    for basket in fruits:
        file.write(basket + '\n')  # adds a newline character to each string
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.readlines())  # reads and displays entire lines in a list

Banana
Orange
Apple
Strawberry
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [54]:
flowers = ["Jasmine", "Rose", "Lily", "Daisy"]
with open("flowers.txt", 'w', encoding="utf-8") as f:
    for basket in flowers:
        f.write(basket + '\n\n')  # adds a newline character to each string
with open("flowers.txt", 'r', encoding="utf-8") as file:
    print(basket.read())
with open("flowers.txt", 'r', encoding="utf-8") as file:
    print(basket.readlines())  # reads and displays entire lines in a list

AttributeError: 'str' object has no attribute 'read'

In [55]:
fruits = ["banana\n", "orange\n", "apple\n", "strawberry\n", "cherry\n"]

with open("fruits.txt", "w", encoding= "utf-8") as f:
    f.writelines(fruits)

In [56]:
with open("fruits.txt", 'r', encoding="utf-8") as f:
    print(f.read())

banana
orange
apple
strawberry
cherry

In [59]:
flowers = ["Jasmine\n", "Rose\n", "Lily\n", "Daisy\n", "Tulip"]
with open("flowers.txt", "w", encoding= "utf-8") as f:
    f.writelines(flowers)

In [60]:
with open("flowers.txt", 'r', encoding="utf-8") as f:
    print(f.read())

Jasmine
Rose
Lily
Daisy
Tulip

In [63]:
with open("fruits.txt", "a", encoding= "utf-8") as f:
    f.write("melon")

In [64]:
with open("fruits.txt", 'r', encoding="utf-8") as f:
    print(f.read())

banana
orange
apple
strawberry
cherry
melon

In [65]:
with open("fruits.txt", 'r', encoding="utf-8") as f:
    print(f.readlines())

['banana\n', 'orange\n', 'apple\n', 'strawberry\n', 'cherry\n', 'melon']

In [66]:
with open("flowers.txt", "a", encoding= "utf-8") as f:
    f.write("orchid")

In [67]:
with open("flowers.txt", 'r', encoding="utf-8") as f:
    print(f.read())

Jasmine
Rose
Lily
Daisy
Tuliporchid

In [68]:
with open("istiklal.txt", 'r', encoding="utf-8") as f:
    print(f.read())

Korkma, s√∂nmez bu ≈üafaklarda y√ºzen al sancak;
S√∂nmeden yurdumun √ºst√ºnde t√ºten en son ocak.
O benim milletimin yƒ±ldƒ±zƒ±dƒ±r, parlayacak;
O benimdir, o benim milletimindir ancak.
√áatma, kurban olayƒ±m, √ßehreni ey nazlƒ± hilal!
Kahraman ƒ±rkƒ±ma bir g√ºl! Ne bu ≈üiddet, bu celal?
Sana olmaz d√∂k√ºlen kanlarƒ±mƒ±z sonra helal...
Hakkƒ±dƒ±r, hakk'a tapan, milletimin istiklal!
Ben ezelden beridir h√ºr ya≈üadƒ±m, h√ºr ya≈üarƒ±m.
Hangi √ßƒ±lgƒ±n bana zincir vuracakmƒ±≈ü? ≈ûa≈üarƒ±m!
K√ºkremi≈ü sel gibiyim, bendimi √ßiƒüner, a≈üarƒ±m.
Yƒ±rtarƒ±m daƒülarƒ±, enginlere sƒ±ƒümam, ta≈üarƒ±m.
Garbƒ±n afakƒ±nƒ± sarmƒ±≈üsa √ßelik zƒ±rhlƒ± duvar,
Benim iman dolu g√∂ƒüs√ºm gibi serhaddim var.
Ulusun, korkma! Nasƒ±l b√∂yle bir imanƒ± boƒüar,
'Medeniyet!' dediƒüin tek di≈üi kalmƒ±≈ü canavar?
Arkada≈ü! Yurduma al√ßaklarƒ± uƒüratma, sakƒ±n.
Siper et g√∂vdeni, dursun bu hayasƒ±zca akƒ±n.
Doƒüacaktƒ±r sana va'dettigi g√ºnler hakk'ƒ±n...
Kim bilir, belki yarƒ±n, belki yarƒ±ndan da yakƒ±n.
Bastƒ±ƒüƒ±n yerleri 'toprak!' diyerek ge√ßme, tanƒ±:
D√º≈ü√ºn altƒ±nda binlerce kefensiz yatanƒ±.
Sen ≈üehit oƒülusun, incitme, yazƒ±ktƒ±r, atanƒ±:
Verme, d√ºnyalarƒ± alsan da, bu cennet vatanƒ±.
Kim bu cennet vatanƒ±n uƒüruna olmaz ki feda?
≈ûuheda fƒ±≈ükƒ±racak topraƒüƒ± sƒ±ksan, ≈üuheda!
Canƒ±, cananƒ±, b√ºt√ºn varƒ±mƒ± alsƒ±n da h√ºda,
Etmesin tek vatanƒ±mdan beni d√ºnyada c√ºda.
Ruhumun senden, ilahi, ≈üudur ancak emeli:
Deƒümesin mabedimin g√∂ƒüs√ºne namahrem eli.
Bu ezanlar-ki ≈üahadetleri dinin temeli,
Ebedi yurdumun √ºst√ºnde benim inlemeli.

In [74]:
with open("istiklal.txt", 'r', encoding="utf-8") as f:
    list_ist = f.readlines()

In [76]:
counter = 0

with open("istiklal.txt", 'r', encoding="utf-8") as f:
    for i in list_ist:
        if i % 4 == 0:
            i.write("\n")
        else:
            i.write(i)

TypeError: not all arguments converted during string formatting

In [1]:
    
sentence = input("Enter a sentence: ")
dict_sentence = {}

for i in sentence:
    if i in dict_sentence:
        dict_sentence[i] += 1
    else:
        dict_sentence[i] = 1
print(dict_sentence)

{'k': 1, 'e': 2, 'n': 3, 'a': 1, ' ': 1, 'd': 1, 'i': 1, 'z': 1}

In [6]:
def unique_list(a):
    x = []
    for i in a:
        if i not in x:
            x.append(i)
    return x

In [16]:
print(sorted(unique_list([1,1,1,2,2,2,3,3,5,5,6,4,8,9,7,7,8])))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Given a non-empty string and an int n, return a new string where the character at index n has been removed. The value of n will be a valid index of a character in the original string (i.e. n will be in the range 0....len(str)-1 inclusive).

For example:
Test 	Result

print(missing_char('kitchen', 1))

	

ktchen

print(missing_char('kitchen', 0))

	

itchen

print(missing_char('kitchen', 4))

	

kitcen

In [28]:
def missing_char(word, n):
    word = word.replace(word[n], "")
    return word

In [29]:
print(missing_char('kitchen', 1))

ktchen

In [37]:
def missing_char1(word, n):
    word = word[:n] + word[n+1:]
    #word = word.replace(word[n], "")
    return word

In [39]:
print(missing_char1('kitchen', 1))

ktchen

In [40]:
try:
  print("Hello")
except:
  print("Something is wrong")
else:
  print("Nothing is wrong")

Hello
Nothing is wrong

In [41]:
try:
  print(x)
except:
  print("Something is wrong")
finally:
  print("The 'try except' is completed")

Something is wrong
The 'try except' is completed

In [42]:
for i in [1,2,3,4,5,6,7]:
    print(i,":",(lambda x:"odd"*(x%2) or "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd

In [54]:
from datetime import date
t = date.today()
print("ƒ∞√ßinde bulunduƒüumuz yƒ±l :", t.year)
print("ƒ∞√ßinde bulunduƒüumuz ay  :", t.month)
print("ƒ∞√ßinde bulunduƒüumuz g√ºn :", t.day)

ƒ∞√ßinde bulunduƒüumuz yƒ±l : 2020
ƒ∞√ßinde bulunduƒüumuz ay  : 7
ƒ∞√ßinde bulunduƒüumuz g√ºn : 25

In [55]:
{f"{i}'in karesi" : i *i for i in range(8)}

{"0'in karesi": 0,
 "1'in karesi": 1,
 "2'in karesi": 4,
 "3'in karesi": 9,
 "4'in karesi": 16,
 "5'in karesi": 25,
 "6'in karesi": 36,
 "7'in karesi": 49}

In [61]:
l = ["right 20", "right 30", "left 50", "up 10", "down 20"]
[x, y]
x = y = 0

for i in range(len(l)):
    if l[i].startswith("r") : x += int(l[i].split()[1])
    elif l[i].startswith("l") : x -= int(l[i].split()[1])
    elif l[i].startswith("u") : y += int(l[i].split()[1])
    elif l[i].startswith("d") : y -= int(l[i].split()[1])
[x,y]

[0, -10]

In [8]:
with open("fruits.csv", "r", encoding="utf-8") as file:
    print(file.read())

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [5]:
import csv

In [7]:
import csv
with open("fruits.csv", "r", newline = "", encoding="utf-8") as file:
    csv_rows = csv.reader(file)

    for row in csv_rows:
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [ ]:
import csv
with open("people.csv", "r", newline = "", encoding="utf-8") as file:
    csv_rows = csv.reader(file)

    for row in csv_rows:
        print(row)

In [13]:
import csv
with open("fruits.csv", "r", newline = "", encoding="utf-8") as file:
    csv_rows = csv.reader(file, delimiter="+")

    for row in csv_rows:
        print(row)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [15]:
import pandas as pd 
df = pd.read_csv("fruits.csv", index_col = 0)

In [16]:
df

         fruit amount
no
1       Banana   4 lb
2       Orange   5 lb
3        Apple   2 lb
4   Strawberry   6 lb
5       Cherry   3 lb

In [17]:
int(1)

1

In [18]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [22]:
import math

math.pi("ken")

TypeError: 'float' object is not callable

In [23]:
a = 5
x = a + b
print(x)
b = 7

NameError: name 'b' is not defined

In [2]:

class Employee:

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)