In [ ]:
# print fonsiyon demek.
#type string = str = # any textual characters
#type Integers = int = #type is called int, they are whole numbers (positive, negative or zero), including no decimal point. For example: 71, -122, 0
#floats = float = #type is called float and they stand for real numbers with a decimal point. For example: 71.0, -33.03
#complex = #they are written in the form, x + yj , where x is the real part and y is the imaginary part.
#boolean = bool = # False and True. 
#int() – converts some data types into integer type.
#float() – converts some data types into float type.
#str() – converts any data type into string type.
#-= decrements the variable in place,s
#+= increment the variable in place,
#*= multiply the variable in place,
#/= divide the variable in place,
#//= ﬂoor divide the variable in place,
#%= returns the modulus of the variable in place,
#**= raise to power in place.
#\n : means new line,
#\t : means tab mark,
#\b : means backspace. It moves the cursor one character to the left
# \kendinden sonraki işelmi iptal ediyor. print('we', '\bare', '\bunited', sep= '  ') we are united. 
#their priorities:not, and, or : None.Zero of any numeric type: 0, 0.0, 0j
#Empty sequences and collections: '', [], {}
#Other than above values, any remaining value is evaluated as True.
#str.swapcase() converts upper case to lower case and vice versa.
#str.capitalize() changes the first character of the string to the upper case and the rest to the lower case.
#str.upper() converts all characters of the string to the upper case.
#str.lower() converts all characters of the string to the lower case.
#str.title() converts the first character of each word to upper case.
#str.split() converts all characters of the string to seperate character
#The formula syntax is : string.method()#str.strip() : removes all spaces (or specified characters) from both sides.
#str.rstrip() : removes spaces (or specified characters) from the right side.
#str.lstrip() : removes spaces (or specified characters) from the left side.
"""None.
	Zero of any numeric type: 0, 0.0, 0j
	Empty sequences and collections: '', [], {}.
	- Other than above values, any remaining value is evaluated as True.
	- print(*yazi) output y a z i şeklinde birer boşluk bırakır. """
#my_list.append('adil') # listeye yeni bir eleman ekler.
#print(my_list.pop()) #listeye yeni eklenen elemanı siler.
#city.remove('London') listeden eleman siler.
#city.sort()  # lists the items in alphabetical order
# Lists:Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!
# Tuples: In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In [ ]:
# data="arrb6???4xxbl5???eee5" #=> true
# data="acc?7??sss?3rr1??????5" #=> true
# data="5??aaaaaaaaaaaaaaaaaaa?5?5" #3=> false
# data="aa6?9" #=> false
data="9???1???9???1???9" #=> true
backup,status=[],False
for index1,i in enumerate(data):
    for index2,j in enumerate(data[::-1]):
        if i.isdigit() and j.isdigit():
            backup.append(data[index1:len(data)-index2])
for item in backup:
    if len(item)>1 and int(item[0]) + int(item[-1]) == 10:
        if item.count ('?')>=3:
            status=status or True
        else:
            status=status and False
            print(status)
            break
else:
    print(status)

In [ ]:
Booleans
Operator	Description	Example
==	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.
!=	If values of two operands are not equal, then condition becomes true.	(a != b) is true.
>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.
<	If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.
>=	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.
<=	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true.

In [1]:
def function(): # Don't be confused, we use 'def()' to create a function. 
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [2]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [10]:
f = 3.14 # the type is float
s = str(f) # converting float to string
print(s, '\n') # '\n' paragraf atlatıyor.
print(type(s))

3.14

<class 'str'>

In [14]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"
print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [15]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'
print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [16]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [17]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [18]:
print(4 + 11) # sum of integers gives integer
print(39 + 1.0) # sum of an integer and float gives float
no1, no2 = 46, 52
no3 = no1 - no2
print(no3)

15
40.0
-6

In [19]:
no1 = 46
print(no1/23)  # division gives float

2.0

In [20]:
print((3 * 4)/2)  # parentheses are used as in normal mathematics operations

6.0

In [21]:
print(7 // 2)  # it gives integer part of division
# bölme işleminde sağ tarafta kalan sonucu verir.

3

In [22]:
print(9 % 2)  # remainder of this division is 1
# it means 9 is an odd number.a
# bölme işleminde kalan sayıyı ifade eder.

1

In [23]:
print(3**2)
# 3 üzeri 2 demek o da 9 yapar.

9

In [24]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [30]:
print("yesterday I ate",2,"apples")

yesterday I ate 2 apples

In [ ]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

In [42]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [34]:
 print(type('hello'), type(3.14), type(74), sep='\n')

<class 'str'>
<class 'float'>
<class 'int'>

In [36]:
print('C:\\november\number_expenditure.txt')

C:\november\number_expenditure.txt

In [39]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [40]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

weareunited

In [44]:
print('we', '\bare', '\bunited', sep= '  ') # remember, normally print() function
# separates expressions by spaces

we are united

In [1]:
text1 = 'it'
text2 = 'easy'
print(text1 + '\'s very ' + text2)

it's very easy

In [1]:
#their priorities:not, and, or : None.Zero of any numeric type: 0, 0.0, 0j
#Empty sequences and collections: '', [], {}
#Other than above values, any remaining value is evaluated as True.
logic = True and False or not False or False
print(logic)

True

In [1]:
round(22/7, 3)

3.143

In [2]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [3]:
liste = [14,44,45,65,23,23,222,2,345,6654,776]
liste.sort()
print(liste)

[2, 14, 23, 23, 44, 45, 65, 222, 345, 776, 6654]

In [8]:
liste = [14,44,45,65,23,23,222,2,345,6654,776]
liste.sort(reverse=True)
print(liste)

[6654, 776, 345, 222, 65, 45, 44, 23, 23, 14, 2]

In [7]:
print(1 and "I am doing good!")
print(2 or 3)
print(None or 1)
print(0 or {})
print(1 or {})
print([] and "Hello World!")
print([] or "Hello World!")

I am doing good!
2
1
{}
1
[]
Hello World!

In [8]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [9]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [10]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [11]:
str = 'Python Language'
print(str[4:])

on Language

In [24]:
print('clarus' + 'way')
print(3*'no way!', 3*'no way!')

clarusway
no way!no way!no way! no way!no way!no way!

In [25]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [26]:
fruit = 'orange'
fruit += ' apple'

print(fruit)

orange apple

In [28]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

In [29]:
fruit1 = 'Apple'
fruit2 = 'Orange'
print(2*fruit1+' '+3*fruit2)

AppleApple OrangeOrangeOrange

In [30]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence)

apologizing

In [1]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase) 
#In the '%s' syntax : s stands for 'string'.
#In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
#In the '%d' syntax : d stands for 'numeric'.

I have 4 children and 5.00 brothers

In [31]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})
#In this example, we used two variables which are amount and fruit. If you noticed, we assign values to variables in curly braces '{}'. This format is a dictionary type that you will learn in the next lessons.

33 pounds of bananas left

In [1]:
x = "HelloWorld!"
print('%.5s' % x)

Hello

In [33]:
#Time is useful module in python can be used to calculate the execution time.

import time
start = time.clock()
for x in range(1000):
    pass
end = time.clock()
total = end - start
print(total)

0.0004109919991606148

In [34]:
#2'den başla 100'e kadar 4'er 4'er say...
my_list = list(range(2, 100, 4))
print(my_list)

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98]

In [35]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit,amount))

The amount of Orange we bought is 4 pounds

In [1]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [2]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [3]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [4]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [5]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [6]:
result = f"{4 * 5}"

print(result)

20

In [ ]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

In [7]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [8]:
#If you want to use multiple f-string formatting lines without parentheses, you will have the other option that you can use backslash \ between lines.name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [11]:
first_name = 'Adil'
last_name = 'Basaran'
output = 'Hello, ' + first_name+ ' ' + last_name
print(output)
print('output') # when we use quotion marks its write only output.

Hello, Adil Basaran
output

In [12]:
first_name = 'Adil'
last_name = 'Basaran'
output ='Hello, {} {}'.format(first_name, last_name)
print(output)

Hello, Adil Basaran

In [13]:
first_name = 'Adil'
last_name = 'Basaran'
output ='Hello, {0} {1}'.format(first_name, last_name)
print(output)

Hello, Adil Basaran

In [14]:
first_name = 'Adil'
last_name = 'Basaran'
output =f'Hello, {first_name} {last_name}'
print(output)

Hello, Adil Basaran

In [15]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [16]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [17]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [8]:
phrase = "myemailaddress@clarusway.com"
print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith("-", 15, 24))

28
True
False

In [11]:
"ahmet".startswith(("a", "h", "m"), 2)

True

In [14]:
"ayçiçeği".endswith(("i", "ğ"))

True

In [15]:
"a-h-m-e-t".replace("-", "", 2) # 2 ssayısı kaç tane değişim yapılacağı bilgisini verir. Rakam girmezsek hepsini siler.

'ahm-e-t'

In [13]:
sentence = "I live and work in Virginia"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [20]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  

changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  

print(sentence)  
# note that, again source text is unchanged

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [21]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())  # changes 'i' to uppercase and
# the rest to lowercase

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [22]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first

In [23]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides

nteroperabilit

In [24]:
space_string = "     listen first      "
print(space_string.rstrip())  # removes all spaces from right sides

listen first

In [25]:
source_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side

teroperability

In [5]:
isim = "adil"
soyisim = "basaran"
print("Merhaba sayın {}{}, sitemize hos geldiniz".format(isim, soyisim))

Merhaba sayın adilbasaran, sitemize hos geldiniz

In [7]:
isim = "adil"
soyisim = "basaran"
print("Merhaba sayın %s %s, sitemize hos geldiniz" %(isim, soyisim))

Merhaba sayın adil basaran, sitemize hos geldiniz

In [1]:
a = 4
b = 'ali'
c = True
print(a, b, c,sep="+")

4+ali+True

In [6]:
a = 4
b = 'ali'
c = True
print(b, end="")
print(b)

aliali

In [10]:
a = 4
b = 'ali'
c = True
print(*b)

a l i

In [12]:
yazi = "TBMM"
print(*yazi,sep=".")

T.B.M.M

In [13]:
divmod(12, 4)#bolme ve kalma cıkartıyor

(3, 0)

In [22]:
a = enumerate("python")
list(a) #super

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [32]:
a = 'python'
for eleman in enumerate(a):
    print(eleman)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [33]:
help()    # özellikle yeni oython shell acıp help() yazdığında her kod ile bilgi alınabilinir.

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [38]:
isim = input("isim girin:")
print(isim)
print(type(isim))

asd
<class 'str'>

In [43]:
isim = input("isim girin:")
yas = input("yaşınızı girin:")

if int(yas) < 18:
    print("giremezsiniz")
else:
    print("hoşgeldin")

giremezsiniz

In [46]:
ord("1") #ASII code numarasını gösteriyor.

49

In [47]:
pow(2,3) #x**y

8

In [48]:
dosya = open("ornek.txt", "w")
print("jack", file = dosya)
dosya.close() #yan tarafta ornek isimli dosya oluşturdu.

In [52]:
print(*range(4))

0 1 2 3

In [53]:
print(*range(40, 2, -2))

40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4

In [56]:
aralık = range(100)
for sayi in aralık:
    print(sayi, end= " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [2]:
x = 5
print('value of x     : ', x)
x += 2
print('2 more of x    : ', x, "\n")
y = 10
print('value of y     : ', y)
y -= 2 
print("2 minus y      : ", y, "\n") 
z = 6
print('value of z     : ',z)
z *=2
print("2 times z      : ", z, "\n")

value of x     :  5
2 more of x    :  7

value of y     :  10
2 minus y      :  8

value of z     :  6
2 times z      :  12

In [9]:
print('c:\\north pole\noise_penguins.txt')
print("--------")
print('first', 'second', 'third', sep='\t')

c:\north pole
oise_penguins.txt
--------
first	second	third

In [13]:
print('we are', '\boosting', 'our', '\brotherhood')
print('it\'s essential to learn Python\'s libraries in TT World')

we areoosting ourrotherhood
it's essential to learn Python's libraries in TT World!

In [51]:
text = "Clarusway,"
text1 = "       "
text2 = "Clarusway"
print(text, text, text, sep=" ")
print(text1, text, text, text, sep=" ")
print(text1, text1, text, text, text2, sep=" ")

Clarusway, Clarusway, Clarusway,
        Clarusway, Clarusway, Clarusway,
                Clarusway, Clarusway, Clarusway

In [57]:
text = "Clarusway, Clarusway, Clarusway,\n\tClarusway, Clarusway, Clarusway, \n\t\tClarusway, Clarusway, Clarusway"
print(text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [58]:
print(1 and 0)
print(not 0)

0
True

In [69]:
"" or "adil" or "istanbul" or 0

'adil'

In [70]:
"" and "adil" or "istanbul" or 0

'istanbul'

In [72]:
print(None or 1)

1

In [74]:
logic = True and not [] or 'False' or {'True'} #not operatörün yanına ne gelirse tesine cevirir. '' bu gelirse True yapar.
print(logic)

True

In [77]:
print(2 and 3)
print(1 and 0)

3
0

In [78]:
print(2 and "hello world")
print([] and "be happy" )
print(None and ())

hello world
[]
None

In [81]:
print(None or 3)
print(2 or 3)

3
2

In [86]:
print(2 or "hello")
print([] or "happy")
print(None or ())
print({} or 0)
print({0} or False)
print ({} and 0)

2
happy
()
0
{0}
{}

In [87]:
print(2 and "hello")
print([] and "happy")
print(None and ())
print(2 or "hello")
print([] or "happy")
print(None or ())

hello
[]
None
2
happy
()

In [ ]:
Cryptocurrency_balance = 1000 # $
daily_profit = 7 # %
print("Beginning Cryptocurrency Balance :", Cryptocurrency_balance, "$", "\n") 
for a in range(1,8):
    Cryptocurrency_balance += Cryptocurrency_balance * daily_profit/100
    print(a, "day: You have",  round(Cryptocurrency_balance, 3), "$", "end of the day.")
print()
print("Total balance : You have", round(Cryptocurrency_balance, 3), "$", "end of the week.")

In [8]:
str_one = 'upper'
str_one += 3 * 'case'
str_one += 'letter'
print(* str_one)

u p p e r c a s e c a s e c a s e l e t t e r

In [1]:
sentence = "I live and work in Virginia"
sentence = sentence.upper()
print(sentence.split()) 
print(sentence)

['I', 'LIVE', 'AND', 'WORK', 'IN', 'VIRGINIA']
I LIVE AND WORK IN VIRGINIA

In [4]:
sentence = "I live and work in Virginia"
print(sentence.split('i'))

['I l', 've and work ', 'n V', 'rg', 'n', 'a']

In [7]:
print("My names {} and ...".format('Adil Basaran'))

My names Adil Basaran and ...

In [8]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [9]:
print('The {q} {f} {b}'.format(f = 'fox', b = 'brown', q= 'quick'))

The quick fox brown

In [20]:
result = 100/700
print("The result was {r:1.3f}".format(r = result))

The result was 0.143

In [25]:
name = 'adil'
print('Hello, his name is {}'.format(name))
print(f'Hello, his name is {name}')

Hello, his name is adil
Hello, his name is adil

In [27]:
name = 'adil'
age = 38
print(f'{name} is {age} years old.') #f başına yada sonuna birşey gelmiyor.

adil is 38 years old.

In [28]:
print('{p}'.format(p = 'Python rules!'))

Python rules!

In [42]:
my_list = ['string', 300, 12.33]
#print(len(my_list))
my_list[1] = 'all for one'
#print(my_list) 
my_list.append('adil') # listeye yeni bir eleman ekler.
print(my_list)
print(my_list.pop()) #listeye yeni eklenen elemanı siler.
print(my_list)

['string', 'all for one', 12.33, 'adil']
adil
['string', 'all for one', 12.33]

In [46]:
new_list = ['a', 'o', 'u', 't', 'w', 'e', 'k', 'f']
num_list = [4, 5, 6, 3, 2, 33, 444, 5565, 76, 88]
new_list.sort()
num_list.sort()
print(new_list)
print(num_list)
num_list.reverse()
print(num_list)

['a', 'e', 'f', 'k', 'o', 't', 'u', 'w']
[2, 3, 4, 5, 6, 33, 76, 88, 444, 5565]
[5565, 444, 88, 76, 33, 6, 5, 4, 3, 2]

In [48]:
my_dict = {'key1' : 'value1', 'key2': 'value2'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [75]:
prices_lookup = {'apple' : 2.99, 'oranges' : 1.99, 'milk' : 5.80}
#print(prices_lookup['apple'])
#prices_lookup ['elma'] = 3.99
#print(prices_lookup)
#prices_lookup['apple'] = 10.99
print(prices_lookup)
print(prices_lookup.keys())
print(prices_lookup.values())
print(prices_lookup.items())

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8}
dict_keys(['apple', 'oranges', 'milk'])
dict_values([2.99, 1.99, 5.8])
dict_items([('apple', 2.99), ('oranges', 1.99), ('milk', 5.8)])

In [77]:
dict = {'apple' : 5, 'orange' : 10}
print(dict)

{'apple': 5, 'orange': 10}

In [87]:
for sayi in range(10):
    print(sayi)

SyntaxError: invalid syntax (<ipython-input-87-3c8a8a16d0a8>, line 1)

In [89]:
for sayi in range(-10, 10, 2):
    print(sayi)

-10
-8
-6
-4
-2
0
2
4
6
8

In [1]:
def fonksiyon(**kwargs):
    print(kwargs)
    for i in kwargs:
        print(i)
fonksiyon(a = 0, b = 5, c = 10)

{'a': 0, 'b': 5, 'c': 10}
a
b
c

In [101]:
def fonksiyon(*args):
    print(args)
    for i in args:
        print(i + 5)
fonksiyon(0, 5, 10, 15)

(0, 5, 10, 15)
5
10
15
20

In [1]:
t = (1, 2, 3)
type(t)

tuple

In [4]:
t = ('a', 'a', 'b') # Tuple da () kullanılır. Listelerde [] bu.
t.count('a')
# 'a' kaç defa geçtiğini söylüyor.
t.index('a')
# 'a' nın kaçıncı sırada olduğunu söylüyor.

0

In [9]:
my_list = [1, 2, 3]
my_list[0] = 'NEW' # Listedeki 0'cı elemanı değiştirir.
print(my_list)

['NEW', 2, 3]

In [15]:
# Sets are unordered collections of unique elements. Meaning there can only be one represntative of the same object.
myset = set()
myset.add(1)
myset.add(2)
print(myset)
# bir set elemenetinin içerisinde benzer karakterler var ise o karaktari sadece bir defa gösterir.

{1, 2}

In [16]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [34]:
print(not(None or 0))

True

In [29]:
print('{0}{1}{2}{3}{4}'.format('I ', 'will ', 'find ', 'a ','job.'))

I will find a job.

In [31]:
print(str.title("python data types and useful operations"))

Python Data Types And Useful Operations

In [35]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [36]:
1 > 2

False

In [46]:
%%writefile aa.jpynb # Yeni bir dosya oluşturuyor.
hello this is a text file
aa.readlines

UsageError: unrecognized arguments: # Yeni bir dosya oluşturuyor.

In [45]:
aa = open('aa.ipynb')
aa.read()

''

In [48]:
x = open('test.txt', 'w') # sol taraftaki menude yeni bir test adında bir txt dosyası olusturmamızı saglıyor.
x.write('Hello World')
x.close()

In [49]:
#Dictionaries
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [51]:
#Dictionaries: Can you sort a dictionary? Why or why not? Answer: No! Because normal dictionaries are mappings not a sequence.
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [2]:
hungry = False
if hungry:
    print('Feed me!')
else:
    print('Im not hungry')

Im not hungry

In [9]:
loc = 'Store'
if loc =='Auto shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print("I do not know much.")

Welcome to the store!

In [18]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
    print('num')
    print(num)

num
1
num
2
num
3
num
4
num
5
num
6
num
7
num
8
num
9
num
10

In [21]:
# Özelikle tab geçişlerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number{num}')

odd number1
2
odd number3
4
odd number5
6
odd number7
8
odd number9
10

In [26]:
# Özelikle tab geçişlerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0
for num in my_list:
     list_sum = list_sum + num
print(list_sum)

55

In [29]:
# Özelikle tab geçişlerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0
for num in my_list:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [35]:
mystring = 'Hello World'

for letter in mystring:
    print('letter')
    print(letter)

letter
H
letter
e
letter
l
letter
l
letter
o
letter

letter
W
letter
o
letter
r
letter
l
letter
d

In [40]:
my_list = [(1, 2), (3,4), (5,6), (7,8)]
len(my_list)
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
my_list = [(1, 2), (3,4), (5,6), (7,8)]
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [43]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1   # x += 1 de kullanılabilinir.
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [6]:
x = [1, 2, 3]

for item in x:
    # pass yazarsak for döngüsünü iptal eder.
    # break 
    pass
print('ex =nd of my script')

end of my script

In [11]:
my_string = 'sammy'
for letter in my_string:
    if letter == 'a':
        break # a harfine gelince döngüyü durdurur.
    print(letter)

s

In [12]:
my_string = 'sammy'
for letter in my_string:
    if letter == 'a':
        continue # a harfini döngüden kaldırır.
    print(letter)

s
m
m
y

In [15]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [3]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [5]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [7]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

1
2
3
4

In [13]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [19]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1, mylist2, mylist3):
    print(item)
min(mylist1)
max(mylist1)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

6

In [16]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [22]:
from random import shuffle 
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
print(mylist)

[5, 3, 2, 8, 6, 1, 7, 9, 4]

In [23]:
from random import randint
randint(0,100) #rasgele sayı secme

90

In [30]:
#int(input ('enter number: '))
result = input ('enter number: ')
print(float(result))

22.0

In [34]:
mystring = 'Hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [4]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
mylist = [num for num in range(0,11) if num%2==0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [6]:
celsius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp +32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [7]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [8]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
print(mylist)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
if

In [20]:
x = int(input('enter number'))

if x%2 == 0:
    print('x', 'Girilen değer çift sayıdır.')
else:
    print(x, 'tek sayıdır.')

3 bir tek sayıdır.

In [ ]:
x = int(input('enter number'))

if x % 2 == 0:
    print(x, 'Girilen değer çift sayıdır.')
else:
    print(x, 'tek sayıdır.')

In [21]:
def tek_mi_çift_mi(*args):
    print(args)
    for i in args:
        if i % 2 == 0:
            print(i, "sayısı çiftir")
        else:
            print(i, "sayısı tektir")

tek_mi_çift_mi(10, 123, 1, 23, 56, 156)

(10, 123, 1, 23, 56, 156)
10 sayısı çiftir
123 sayısı tektir
1 sayısı tektir
23 sayısı tektir
56 sayısı çiftir
156 sayısı çiftir

In [23]:
def çıkarma(sayı1, sayı2):
    sonuç = sayı1 - sayı2
    return sonuç

a = çıkarma(10, 5)
print(a)

5

In [35]:
def parametreler(sayı1, sayı2, sayı3, sayı4):
    return  [sayı2, sayı4]
result = parametreler('3', '4', sayı3 = '7', sayı4 = '8')
print(result)
print(result[0], result[1])

['4', '8']
4 8

In [1]:
print(not 0 and "write me")

write me

In [2]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [3]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]

print(mixed_list)
print(mixed_list[0], mixed_list[1], mixed_list[2], mixed_list[3], mixed_list[4])

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]
11 Joseph False 3.14 None

In [4]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')
print(empty_list_1)

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')
print(city)

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

In [6]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)
# city_list includes only one element which is the city list. # Tips: If you notice that city_list has double square brackets.

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [14]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) 
# access to first and only element
#'city_list[0]' is a list type data. So that, we can still access its elements via indexing.

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [13]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [7]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [8]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [12]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list)
print(fruit_list[0][2][7])

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]
l

In [15]:
count = list(range(11))
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [16]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [17]:
print(len([[12, 34, 56]]))

1

In [18]:
print(len([[12, 34, 56]][0]))

3

In [19]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [39]:
st = 'Sam Print only the words that start with s in this sentence'

for word in st.split():
    if word[0] == 's' or word[0] == 'S':
        print(word)

Sam
start
s
sentence

In [24]:
#Use range() to print all the even numbers from 0 to 10.
list(range(0,11,2))
# or 
for num in range(0,11,2)

[0, 2, 4, 6, 8, 10]

In [31]:
#Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [43]:
#Go through the string below and if the length of a word is even print "even!"
st = 'Go through the string below and if the length of a word is even print'
for word in st.split():
    if len(word) % 2 == 0:
        print(word)

Go
string
if
length
of
word
is
even

In [46]:
# Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

SyntaxError: unexpected EOF while parsing (<ipython-input-46-07b9a911582b>, line 11)

In [36]:
#Use a List Comprehension to create a list of the first letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [41]:
word="Go through the string below and if the length of a word is even print "
A=[]
for n_word in word.split():
    if len(n_word)%2==0:
        A.append(n_word)
print(" ".join(A))

Go string if length of word is even

In [47]:
print(["FizzBuzz"*(not i%15) or "Fizz"*(not i%3) or "Buzz"*(not i%5) or i for i in range(1,101)])

SyntaxError: unexpected EOF while parsing (<ipython-input-47-a43596cf3613>, line 1)

In [49]:
mylist = [1, 2, 3]
mylist.append(4) #mylist.pop() son ekleneni siler.
print(mylist)

[1, 2, 3, 4]

In [50]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [60]:
phrase = '{morality} {1} {0} {condition}'.format('in all', 'wins', condition = 'circumstances', morality = 'generosity')

In [1]:
sample = f"{2 ** 3}"
print(sample)

8

In [16]:
text = 'S0d0me and G0m0re'
new_text = text.replace("0", "o")
print(new_text)

Sodome and Gomore

In [2]:
name = "MARIAM"
output = f'My name is {name.capitalize()}'
print(output)

My name is Mariam

In [3]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
output = f'{name} is a {age} {gender} and she is a student at the {school}.'
print(output)

Susan is a young lady and she is a student at the CLRWY IT university.

In [6]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
output = (
f'{name} is a {age} '
f'{gender} and she is a student ' 
f'at the {school}.'
)
print(output)

Susan is a young lady and she is a student at the CLRWY IT university.

In [74]:
word = 'clarusway'

front = word.rstrip("rusway")
back = word.lstrip("clar")
print(front + "a" + back)

clausway

In [70]:
word = 'clarusway'

front = word.rstrip("rusway")
back = word.lstrip("clar")
print(front + "a" + back)

claruswa

In [38]:
text = "{0}! I am a {1} programmer and I {2} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [76]:
print({0} and False or [])

[]

In [77]:
float("140" * int(input("Enter a number:" )))

140140.0

In [79]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [83]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

text = f'The less you {var1} and {var2}, the {var3} your {var4} will be.'
print(text)

The less you sleep and eat, the better your life will be.

In [88]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

text = 'The less you {} and {}, the {} your {} will be.'.format("sleep", "eat", "better", "life")
print(text)

The less you sleep and eat, the better your life will be.

In [97]:
city = "SARAJEVO"
text = f'I live in {city.capitalize()}.'
print(text)

I live in Sarajevo.

In [98]:
word = 'clarusway'
n = 3
front = word[:n]
back = word[4:]
print(front + back)

clausway

In [4]:
deger = input('deger gir: ')
if deger == "abc":
    print('girilen deger: ', deger)
if deger != 'abc':
    print('kullanıcı abc girmemiştir.')

abc

In [ ]:
sayı1 = int(input("Sayı1 girilsin"))
sayı2 = int(input("Sayı2 girilsin"))

if sayı1 > sayı2:
    print("{} {}'den büyüktür ".format(sayı1, sayı2))
elif sayı1 < sayı2:
    print("{1} {0}'den büyüktür ".format(sayı1, sayı2))
else:
    print("{} {}'e eşittir ".format(sayı1, sayı2))

In [ ]:
while True:
    isim =  input('isim gir')
    if isim == 'q':
        print('Güle güle')
        break
    else:
        print('merhaba sahip')